---
title: Sites Metadata
url: GET /api/pvdaq/v3/sites
decommissioned: true
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<div class="alert alert-danger" style="margin-top: 10px;">
  This API has been decommissioned. For the new data map for browsing and downloading PV data, please go to <a href="https://openei.org/wiki/PVDAQ/PVData_Map">the new PVDAQ data map</a>. Programmatic data access details are also available at <a href="https://github.com/NREL/pvdaq_access">the PVDAQ GitHub repository</a>.
</div>
