.swagger-section .swagger-ui-wrap {
  max-width: none;
}

.swagger-section .swagger-ui-wrap,
.swagger-section .swagger-ui-wrap .markdown ol, .swagger-section .swagger-ui-wrap .markdown ul {
  font-family: inherit;
}

.swagger-section .swagger-ui-wrap .form-inline .form-group label {
  margin-right: 6px;
}

.swagger-section .swagger-ui-wrap .container {
  padding: 0px;
  width: auto;
}

.swagger-section .swagger-ui-wrap ol, .swagger-section .swagger-ui-wrap ul {
  margin: 0px;
  padding: 0px;
}

.swagger-section .swagger-ui-wrap ul#resources {
  font-size: 14px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 {
  margin: 0px;
  line-height: 100%;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span {
  display: block;
  float: left;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.http_method a {
  font-size: 14px;
  padding: 0px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path {
  padding: 0px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a {
  display: inline-block;
  padding-left: 10px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options {
  float: left;
  font-size: 15px;
  font-style: italic;
  margin: 0px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li {
  padding: 0px;
  margin-left: 12px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li a .markdown p {
  margin: 0px;
  color: #555;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options {
  line-height: 40px !important;
}

.swagger-section .swagger-ui-wrap input.parameter {
  padding: 4px 6px;
}
