// Hide the Swagger top bar, allowing for arbitrary Swagger specification URLs.
.swagger-ui .topbar {
  display: none;
}

// Hide the link to the swagger specification file.
.swagger-ui .info hgroup.main a {
  display: none;
}

// Restore default "pre" tag styles, so Bootstrap's defaults don't interfere
// with Swagger's styles.
.swagger-ui pre {
  background-color: transparent;
  border-width: 0px;
  padding: 0px;
}

// Since we force HTTPS, hide the scheme selector dropdown.
.swagger-ui .scheme-container {
  display: none;
}

// Hide the API version number in the header, since we usually make this part
// of the overall URL and page (and our current data doesn't seem accurate).
.swagger-ui .info .title small {
  display: none !important;
}

// Make the header text styles match the NREL theme.
.swagger-ui .info .title {
  color: #cc6600 !important;
  font-size: 18px !important;
  font-family: inherit !important;
}
.swagger-ui .info p {
  font-size: 13px !important;
  font-family: inherit !important;
}

// Adjust some spacing to better fit our template.
.swagger-ui .wrapper {
  padding: 0px !important;
}
.swagger-ui .info {
  margin-top: 0px !important;
  margin-bottom: 24px !important;
}
.swagger-ui .info hgroup.main {
  margin-bottom: 12px;
}
