<div style="text-align: center; font-style: italic; margin-top: 2rem;">
  <a href="https://github.com/NREL/developer.nrel.gov/blob/main/source<%= current_page.source_file.gsub(app.source_dir.to_s, '') %>">Help improve this content</a>
</div>
