<!--stopindex-->
<a href="#content" class="visually-hidden app">Skip to main content</a>

<header id="banner">
  <div class="banner-logo">
    <div class="container-xl app">
      <div class="row align-items-center">

        <div class="col-md-6 col-xl-4 order-md-2">
          <a href="https://www.nrel.gov"><div class="logo" aria-label="National Renewable Energy Laboratory"></div></a>
        </div>

        <div class="col-12 d-md-none">
          <!-- Start MOBILE collapsible site search bar -->
          <div class="site-search-bar">
            <div class="container-xl">
              <div class="row">
                <div class="col d-flex justify-content-center mb-1">
                  <nav class="navbar navbar-light" aria-label="Search">
                    <div class="navbar-collapse collapse" id="searchbar-collapse-mobile">
                      <form
                          method="get"
                          class="site-searchbar-form form-inline ThunderstoneForm"
                          action="https://search4.nrel.gov/texis/search/" 
                          id="ThunderstoneSearchFormMobile">

                        <input type="hidden" name="pr" value="metanrel">
                        <div class="form-group">
                          <label for="querymobile" class="visually-hidden">Search NREL.gov</label>
                          <input
                              type="search"
                              id="querymobile" name="query"
                                               maxlength="2047"
                                               placeholder="Search NREL.gov"
                                               class="form-control"
                                               aria-label="Search NREL.gov">
                          <button type="submit" class="btn btn-default">Search</button>
                        </div>
                      </form>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>    
          <!-- End MOBILE collapsible site search bar -->
        </div>

        <div class="col-md-6 col-xl-8 order-md-1">
          <a href="/" class="app-name mt-md-2">Developer Network</a>
        </div>

      </div>
    </div>
  </div>

  <!-- TOP NAVIGATION -->
  <div class="program-header">
    <div class="container-xl gx-0 gx-md-4">
      <nav class="navbar navbar-expand-md navbar-light" aria-label="Main">

        <div id="program-menu" class="me-auto">
          <button class="custom-toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav-collapse" aria-controls="topnav-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggle-label">Menu</span>
          </button>
        </div>

        <!-- Navigation -->
        <div class="navbar-collapse collapse border-0" id="topnav-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item<%= " active" if(current_page.url == "/") %>"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item<%= " active" if(current_page.url =~ %r{/docs($|/)}) %>"><a href="/docs/" class="nav-link">APIs &amp; Documentation</a></li>
            <li class="nav-item<%= " active" if(current_page.url =~ %r{/signup($|/)}) %>"><a href="/signup/" class="nav-link">Key Signup</a></li>
            <li class="nav-item<%= " active" if(current_page.url =~ %r{/contact($|/)}) %>"><a href="/contact/" class="nav-link">Contact</a></li>
          </ul>
          <!-- desktop search button -->
          <button type="button" class="custom-toggler site-navbar-toggler site-searchbar-toggle d-none d-md-inline ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#searchbar-collapse" aria-expanded="false" aria-label="Toggle Search">
            <i class="fa-solid fa-fw fa-magnifying-glass"></i>
          </button>
        </div>
      </nav>
    </div><!--container-->
  </div><!--program-header-->
  <!-- mobile search button -->
  <button type="button" class="custom-toggler site-navbar-toggler site-searchbar-toggle d-md-none" data-bs-toggle="collapse" data-bs-target="#searchbar-collapse-mobile" aria-expanded="false" aria-label="Toggle Search">
    <span class="fa fa-search" aria-hidden="true"></span>
  </button>   
  <!-- Start desktop collapsible site search bar -->
  <div class="site-search-bar">
    <div class="container-xl">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-light" aria-label="Search">
            <div class="navbar-collapse collapse" id="searchbar-collapse">
              <form
                  method="get"
                  class="site-searchbar-form form-inline ThunderstoneForm"
                  action="https://search4.nrel.gov/texis/search/" 
                  id="ThunderstoneSearchForm">

                <input type="hidden" name="pr" value="metanrel">
                <div class="form-group">
                  <label for="query" class="visually-hidden">Search NREL.gov</label>
                  <input
                      type="search"
                      id="query" name="query"
                                 maxlength="2047"
                                 placeholder="Search NREL.gov"
                                 class="form-control"
                                 aria-label="Search NREL.gov">
                  <button type="submit" class="btn btn-default">Search</button>
                </div>
              </form>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>    
<!-- End collapsible site search bar -->
</header>
<!--startindex-->
