<% wrap_layout :layout do %>
  <div id="swagger-ui" class="swagger-ui-wrapper" data-swagger-url="<%= current_page.data.swagger_url %>"></div>
  <%= vite_javascript_tag "swagger" %>

  <style type="text/css">
    <% if(current_page.data.swagger_hide_tag_headers) %>
      .swagger-ui .opblock-tag {
        display: none !important;
      }
    <% end %>

    <% if(current_page.data.swagger_hide_footer_models) %>
      .swagger-ui section.models {
        display: none !important;
      }
    <% end %>
  </style>
<% end %>
