---
title: NSRDB Data Downloads
summary: Freely available downloads of The National Solar Radiation Database.

---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

The National Solar Radiation Database [(NSRDB)](https://nsrdb.nrel.gov/) is a serially complete collection of satellite-derived measurements of solar radiation—including global horizontal irradiance (GHI), direct normal irradiance (DNI), and diffuse horizontal irradiance (DHI)—and other meteorological data. This dataset has been collected to accurately represent long-term solar radiation information at various temporal and spatial scales. The data are publicly available at no cost to users. The API provides easy access for downloading. Other options and details are available [here](https://nsrdb.nrel.gov/data-sets/how-to-access-data)

<%= partial("layouts/child_links") %>


## Contact

<p>For questions about the API or the data models please contact <a href="mailto:nsrdb@nrel.gov">nsrdb@nrel.gov</a></p>
