# ---
# title: Meteorological Statistical Model 2 (MTS2)
# summary: This data has been replaced by PSM v3. Please use <a href="/docs/solar/nsrdb/psm3_data_download">PSM v3</a> instead.
# deprecated: true
# ---

# # <%= current_page.data.title %>
# <div class="alert alert-danger" style="margin-top: 10px;">
#   <p><%= current_page.data.summary %></p>
# </div>
