---
title: Physical Solar Model (PSM) v3.2.2
summary: This data has been replaced by GOES Aggregated v4.0.0. Please use <a href="/docs/solar/nsrdb/nsrdb-GOES-aggregated-v4-0-0-download/">GOES Aggregated v4.0.0.</a>
url:
deprecated: true
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<div class="alert alert-danger" style="margin-top: 10px;">
  <p><%= current_page.data.summary %></p>
</div>
