# ---
# title: Physical Solar Model (PSM) v3
# summary: This service has been replaced by a V3.2.2 version of the API. See <a href="/docs/solar/nsrdb/psm3-2-2-download">PSM v3.2.2</a>.
# url: /api/solar/nsrdb_psm3_download
# deprecated: true
# ---

# # <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
# <div class="alert alert-danger" style="margin-top: 10px;">
#   <p><%= current_page.data.summary %></p>
# </div>