# ---
# title: Puerto Rico SHR (Simulated High Resolution)
# summary: This service has been replaced by a V2 version of the API. See <a href="/docs/solar/nsrdb/puerto-rico-download">Puerto Rico SHR v2</a>.
# url: /api/nsrdb_api/solar/nsrdb_puerto_rico_download
# deprecated: true
# ---

# # <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
# <div class="alert alert-danger" style="margin-top: 10px;">
#   <p><%= current_page.data.summary %></p>
# </div>