# ---
# title: Spectral TMY
# summary: This data has been replaced by Spectral Data On-demand. Please use <a href="/docs/solar/nsrdb/dynamic_spectral_data_download">Spectral Data On-demand (PSM) v3</a> instead.
# deprecated: true
# ---

# # <%= current_page.data.title %>
# <div class="alert alert-danger" style="margin-top: 10px;">
#   <p><%= current_page.data.summary %></p>
# </div>
