---
title: Energy Innovations
summary: NOT YET LIVE, Retrieve information about energy technologies developed with Department of Energy (DOE) funding and available for licensing.
url: GET /api/energyinnovations/v1

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>

This API provides information about energy technologies developed with Department of Energy (DOE) funding and available for licensing. This information is also available at the <a href="https://techportal.eere.energy.gov/">Energy Innovation Portal</a> website. Included are business-friendly descriptions of the technologies (also referred to as "marketing summaries") and, in many cases, their associated patents.

[Documentation](https://developer.nrel.gov/api/energyinnovations/v1/help.html)
