---
title: Energy Innovations (NOT YET LIVE)
summary: NOT YET LIVE, Retrieve information about energy technologies developed with Department of Energy (DOE) funding and available for licensing.
url: GET /api/energy-innovations/v1

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>

This API provides information about energy technologies developed with Department of Energy (DOE) funding and available for licensing. The same information is available at the <a href="https://techportal.eere.energy.gov/">Energy Innovation Portal</a> website. Included are business-friendly descriptions of the technologies (also referred to as "marketing summaries") and, in many cases, their associated patents.

<ul id="toc"></ul>

## Documentation

Use of this API requires a special key be included with requests ([explanation](/docs/api-key)). You can get such a key [here](/signup). The examples below show "DEMO_KEY" paased in the key parameter. When using the API "for real," you'll use [the key issued to you](/signup) instead. (The DEMO_KEY will only work a (quite) limited number of times before being rejected by the service.)

This API only supports HTTP GET requests.

Auto-discovery begins at the root URI: <a href="https://developer.nrel.gov/api/energy-innovations/v1?api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1?api_key=DEMO_KEY</a>

## Request and response examples

This API provides information centric to Patents, Marketing Summaries, Inventors and Assignees.

### Patents
To retrieve all:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/patents?api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/patents?api_key=DEMO_KEY</a>
Find by patent number:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/patents/search/patentNumber?patentNumber=8,330,319&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/patents/search/patentNumber?patentNumber=8,330,319&api_key=DEMO_KEY</a>
Find by a date range:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/patents/search/issueDate?after=2013-01-01&before=2013-01-05&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/patents/search/issueDate?after=2013-01-01&before=2013-01-05&api_key=DEMO_KEY</a>
Find by a technolgy category:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/patents/search/technologyCategory?categoryName=Geothermal&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/patents/search/technologyCategory?categoryName=Geothermal&api_key=DEMO_KEY</a>
Find by a laboratory:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/patents/search/lab?labName=Los%20Alamos%20National%20Laboratory&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/patents/search/lab?labName=Los%20Alamos%20National%20Laboratory&api_key=DEMO_KEY</a>

### Marketing Summaries
To retrieve all:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries?api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries?api_key=DEMO_KEY</a>
Find by a date range:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries/search/issueDate?after=2011-02-01&before=2015-02-15&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries/search/issueDate?after=2011-02-01&before=2015-02-15&api_key=DEMO_KEY</a>
Find by a technolgy category:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries/search/technologyCategory?categoryName=Wind%20Energy&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries/search/technologyCategory?categoryName=Wind%20Energy&api_key=DEMO_KEY</a>
Find by a laboratory:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries/search/lab?labName=Oak%20Ridge%20National%20Laboratory&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries/search/lab?labName=Oak%20Ridge%20National%20Laboratory&api_key=DEMO_KEY</a>

### Inventors
To retrieve all:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/inventors?api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/inventors?api_key=DEMO_KEY</a>
Find by name:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/inventors/search/name?name=Bliss,%20Mary&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/inventors/search/name?name=Bliss,%20Mary&api_key=DEMO_KEY</a>
Find by patent number:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/inventors/search/patentNumber?patentNumber=8,330,319&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/inventors/search/patentNumber?patentNumber=8,330,319&api_key=DEMO_KEY</a>

### Assignees
To retrieve all:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/assignees?api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/assignees?api_key=DEMO_KEY</a>
Find by name:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/assignees/search/name?name=General%20Electric%20Company&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/assignees/search/name?name=General%20Electric%20Company&api_key=DEMO_KEY</a>
Find by patent number:<br/>
<a href="https://developer.nrel.gov/api/energy-innovations/v1/assignees/search/patentNumber?patentNumber=8,330,319&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/assignees/search/patentNumber?patentNumber=8,330,319&api_key=DEMO_KEY</a>

## Sample error responses
400 (Bad Request) example: <a href="https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries/search/issueDate?after=badValue&api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/marketingSummaries/search/issueDate?after=badValue&api_key=DEMO_KEY</a>
404 (Not Found) example:  <a href="https://developer.nrel.gov/api/energy-innovations/v1/doesNotExist?api_key=DEMO_KEY">https://developer.nrel.gov/api/energy-innovations/v1/doesNotExist?api_key=DEMO_KEY</a>
500 (Internal Server Error) example:  <a href="https://developer.nrel.gov/api/energy-innovations/v1/sample500Error?api_key=DEMO_KEY">https://developer.nrel.gov/api/api/energy-innovations/v1/sample500Error?api_key=DEMO_KEY</a>
Additionally, [standard errors](/docs/errors) may be returned.

## Rate limits
[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour.

## Help pages
[/api/energy-innovations/v1/help.html](/api/energy-innovations/v1/help.html)<br/>
[/docs/technologies/energy-innovations-v1](/docs/technologies/energy-innovations-v1)

## Need additional help?
Email us: <a href="mailto: techportal@nrel.gov">techportal@nrel.gov</a>
