<tr>
  <th class="doc-parameter-name" scope="row">ev_network_station_ids</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return only stations that match the station id assigned by the EV network. A single EV network station ID, or a comma-separated list of multiple EV network station IDs, may be given.</p>
    <p>It is recommended to also pass the <a href="#request-ev-network"><code>ev_network</code></a> parameter to avoid ambiguity in station IDs across networks.</p>
  </td>
</tr>
