<tr>
  <th class="doc-parameter-name" scope="row">ev_power_kw_max</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> decimal
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> None
    </div>
  </td>
  <td class="doc-parameter-description">Return non-electric stations, or electric stations that have at least one charging port with power output no greater than this value.</td>
</tr>
