<tr>
  <th class="doc-parameter-name" scope="row">facility_type</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <%= alt_fuel_stations_facility_types.map { |facility_type| "<em>#{facility_type.fetch("key")}</em>" }.join(", ") %>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return only EV charging stations that are located at the given facility type. A single facility type, or a comma separated list of multiple facility types, may be given.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% alt_fuel_stations_facility_types.each do |facility_type| %>
          <tr>
            <th scope="row"><%= facility_type.fetch("key") %></th>
            <td><%= facility_type.fetch("name") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </td>
</tr>
