<tr>
  <th class="doc-parameter-name" scope="row">hy_is_retail</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all, true, false</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return only hydrogen stations that match the value. A single retail value, or a comma-separated list of multiple retail values, may be given.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Value</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
          <td>Include all hydrogen stations.</td>
        </tr>
        <tr>
          <th scope="row">true</th>
          <td>Station meets the criteria to be considered retail.</td>
        </tr>
        <tr>
          <th scope="row">false</th>
          <td>Station does not meet the criteria to be considered retail.</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
