<tr>
  <th class="doc-parameter-name" scope="row">ids</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> integer
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return only stations for the given IDs. A single station ID, or a comma-separated list of multiple station IDs, may be given.</p>
  </td>
</tr>
