<tr id="include-ev-charging-units">
  <th class="doc-parameter-name" scope="row">include_ev_charging_units</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>false</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>true, false</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>If <code>true</code>, then include the <a href="#ev-charging-units"><code>ev_charging_units</code></a> field in the Fuel Station Record Fields response, which provides network and power output data for each EV charging unit present at the station.</p>
  </td>
</tr>
