<tr>
  <th class="doc-parameter-name" scope="row">include_inactive</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> boolean
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>false</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> true, false
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>If <code>true</code>, then include inactive <%= resources %> that are not visible on the AFDC.</p>
  </td>
</tr>
