<tr>
  <th class="doc-parameter-name" scope="row">lpg_include_secondary</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all, false</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>If <code>false</code>, then exclude LPG stations that do not meet the <a href="#response-lpg-primary">criteria</a> to be considered primary.</p>
  </td>
</tr>
