<tr>
  <th class="doc-parameter-name" scope="row">response_format</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> None
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>compact</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return a simplified response for fuel station records with only these fields included: <code>id</code>, <code>fuel_type_code</code>, <code>latitude</code>, and <code>longitude</code>.</p>
  </td>
</tr>
