<tr>
  <th class="doc-parameter-name" scope="row">state</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> None
    </div>
  </td>
  <td class="doc-parameter-description">Return only stations within the given state. State must be given as a two-character state code (eg, "CO" for Colorado). A single state, or a comma-separate list of multiple states, may be given.</td>
</tr>
