---
title: PVWatts
summary: NREL's PVWatts<sup>&reg;</sup> API estimates the energy production of grid-connected photovoltaic (PV) energy systems based on a few simple inputs.
---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

<%= partial("layouts/child_links") %>

<b>Notice:</b> We are preparing to update the <a href="https://pvwatts.nrel.gov/">PVWatts Calculator</a> and web API to Version 8 later this Fall. This exciting update adds a bifacial module option, a new input for monthly irradiance losses, and updates the photovoltaic module, inverter, and thermal effects models to use more detailed and industry-accepted algorithms. PVWatts V8 also updates the weather data to 2020 TMY data from the NREL National Solar Radiation Database (NSRDB) for locations covered by the database. (The current NSRDB weather data is from around 2015.) This update will provide production estimates based on the latest, state-of-the art models from NREL that may differ from the current version's estimates, depending on the location and inputs. From a coding perspective, PVWatts V8 replaces the pvwattsv5 compute module with pvwattsv8 so that the PVWatts Calculator, web API, and implementation of PVWatts in the System Advisor Model (SAM) all use the same underlying model. The PVWatts V6 API will be deprecated six months after the release of PVWatts V8. Deprecated versions of PVWatts are not available as web APIs, but are available via the <a href="https://sam.nrel.gov/software-development-kit-sdk">SAM Simulation Core (SSC) API</a>, which requires a local installation of the API with separate code to access weather data via the <a href="https://developer.nrel.gov/docs/solar/nsrdb/">NSRDB API</a>. Contact <a href="mailto:pvwatts@nrel.gov">pvwatts@nrel.gov</a> if you have any questions.
