---
title: PVWatts V8
summary: Version 8 is the current version of the PVWatts API, and is the version used by <a href="https://pvwatts.nrel.gov/">NREL's PVWatts Calculator</a>. Updates from Version 6 include using the latest NREL National Solar Radiation Database (NSRDB). V8 also adds a bifacial module option, a new input for monthly irradiance losses, and updates the photovoltaic module, inverter, and thermal effects models to use more detailed and industry-accepted algorithms.
url: GET /api/pvwatts/v8
sort_value: "0"

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>

PVWatts<sup>&reg;</sup> Version 8 is is the current version of the PVWatts API. Updates from Version 6 include a bifacial module option, a new input for monthly irradiance losses, new inputs for specifying albedo, and updates to the photovoltaic module, inverter, and thermal effects models to use more detailed and industry-accepted algorithms. PVWatts V8 also updates the weather data to 2020 TMY data from the NREL National Solar Radiation Database (NSRDB) for locations covered by the database. (The NSRDB weather data used in PVWatts V6 is from around 2015.) This update provides production estimates based on the latest, state-of-the art models from NREL that may differ from the V6 estimates, depending on the location and inputs. From a coding perspective, PVWatts V8 replaces the pvwattsv5 compute module with pvwattsv8 so that the PVWatts Calculator, web API, and implementation of PVWatts in the System Advisor Model (SAM) all use the same underlying model. For a complete description of PVWatts V8, see the [description on the PVWatts website](https://pvwatts.nrel.gov/version_8.php).

NREL anticipates that the V8 API will run slightly slower than the V6 API due to upgraded models. Please contact [pvwatts@nrel.gov](mailto:pvwatts@nrel.gov) if you find V8 is significantly slower or that the performance is impacting your product.

There is a forthcoming report containing a technical description of the model.

<ul id="toc"></ul>

## Request URL

<pre>GET /api/pvwatts/v8<em>.format?parameters</em></pre>

## Request Parameters

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">format</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <em>json</em>, <em>xml</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The output response format.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">api_key</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Your developer API key. See <a href="/docs/api-key/">API keys</a> for more information.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">system_capacity</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <i>0.05</i> to <em>500000</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Nameplate capacity (kW).</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">module_type</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <i>0, 1, 2</i>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Module type.</p>
        <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
          <thead>
            <tr>
              <th scope="col">Option</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">0</th>
              <td>Standard</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Premium</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Thin film</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">losses</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <i>-5 to 99</i>
        </div>
      </td>
      <td class="doc-parameter-description">System losses (percent).</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">array_type</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <i>0, 1, 2, 3, 4</i>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Array type.</p>
        <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
          <thead>
            <tr>
              <th scope="col">Option</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">0</th>
              <td>Fixed - Open Rack</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Fixed - Roof Mounted</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>1-Axis</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>1-Axis Backtracking</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>2-Axis</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">tilt</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <i>0 to 90</i>
        </div>
      </td>
      <td class="doc-parameter-description">Tilt angle (degrees).</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">azimuth</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Min:</strong> <i>0</i>
        </div>
        <div class="doc-parameter-value-field">
          <strong>Max:</strong> <i>< 360</i>
        </div>
      </td>
      <td class="doc-parameter-description">Azimuth angle (degrees).</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">lat</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <i>-90 to 90</i>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The latitude for the location to use. Required if file_id not specified.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">lon</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <i>-180 to 180</i>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The longitude for the location to use. Required if file_id not specified.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">file_id</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> none
        </div>
      </td>
      <td class="doc-parameter-description">
        Reference to a specific climate data file to use. Must be a valid <code>id</code> returned by the <a href="/docs/solar/data-query/v2/">Solar Dataset Query V2 API</a>. Required if lat/lon not specified.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">dataset</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> nsrdb
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <i>nsrdb, tmy2, tmy3, intl</i>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The climate dataset to use. Should not be passed in if using file_id to specify the climate data file.</p>
        <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
          <thead>
            <tr>
              <th scope="col">Option</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">nsrdb</th>
              <td>
                <p>Gridded TMY data from the NREL National Solar Radiation Database (<a href="https://nsrdb.nrel.gov/about/what-is-the-nsrdb" target="_blank">NSRDB</a>). Datasets include: <em>NSRDB PSM V3 GOES tmy-2020 3.2.0</em>, <em>NSRDB PSM V3 Himawari tmy-2020 3.2.0</em>, and <em>NSRDB PSM V4 Meteosat Prime Meridian tmy-2022 1.0.0</em></p>
              </td>
            </tr>
            <tr>
              <th scope="row">tmy2</th>
              <td>
                <p>TMY2 station data (see <a href="https://nsrdb.nrel.gov/data-sets/archives.html" target="_blank">NSRDB 1961-1990 Archive</a>)</p>
              </td>
            </tr>
            <tr>
              <th scope="row">tmy3</th>
              <td>
                <p>TMY3 station data (see <a href="https://nsrdb.nrel.gov/data-sets/archives.html">NSRDB 1991-2005 Archive</a>)</p>
              </td>
            </tr>
            <tr>
              <th scope="row">intl</th>
              <td>
                <p>PVWatts International station data</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">radius</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> 100
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The search radius to use when searching for the closest climate data station (miles). Pass in radius=0 to use the closest station regardless of the distance.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">timeframe</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> monthly
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <i>monthly, hourly</i>
        </div>
      </td>
      <td class="doc-parameter-description">Granularity of the output response.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">dc_ac_ratio</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> 1.2
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <span style="font-style: italic">must be positive</span>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>DC to AC ratio.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">gcr</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> 0.4
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <span style="font-style: italic">0.01 - 0.99</span>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Ground coverage ratio.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">inv_eff</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> 96
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <span style="font-style: italic">90 - 99.5</span>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Inverter efficiency at rated power.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">bifaciality</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <span style="font-style: italic">0 - 1</span>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The ratio of rear-side efficiency to front-side efficiency. Typically a value between 0.65 and 0.9 provided on the bifacial module datasheeet. This is to account for the fact that photovoltaic cells on the rear of the module are usually less efficient than the cells on the front of the module. The bifaciality does not affect the solar irradiance on the rear of the module.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">albedo</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal or array of decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <span style="font-style: italic">&gt;0 and &lt;1</span>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Ground reflectance. A value of 0 would mean that the ground is completely non-reflective, and a value of 1 would mean that it is completely reflective. Specify either a pipe-delimited array of 12 monthly values or a single value to be used for all months.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">use_wf_albedo</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <span style="font-style: italic">0, 1</span>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Use hourly or subhourly albedo data from the weather file instead of the monthly albedo values, if available. 0 means do not use weather file albedo values, 1 means use weather file albedo values.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">soiling</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> array of decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <span style="font-style: italic">0 - 100</span>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Reduction in incident solar irradiance caused by dust or other seasonal soiling of the module surface that reduce the radiation incident on the subarray. Soiling losses cause a uniform reduction in the total irradiance incident on each subarray. Specify a pipe-delimited array of 12 monthly values.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">callback</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Return the data using <a href="http://en.wikipedia.org/wiki/JSONP">JSONP</a> and the given callback function (only applicable when using the <em>json</em> format).</p>
      </td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of service-related informational fields and the results of the PVWatts simulation.

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">inputs</th>
      <td class="doc-parameter-value"><strong>Type:</strong> collection</td>
      <td class="doc-parameter-description">The input parameters received in the request.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">errors</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of strings</td>
      <td class="doc-parameter-description">Any error messages resulting from the request.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">warnings</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of strings</td>
      <td class="doc-parameter-description">Any warning messages resulting from the request.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">version</th>
      <td class="doc-parameter-value"><strong>Type:</strong> string</td>
      <td class="doc-parameter-description">The current version of the web service.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">ssc_info</th>
      <td class="doc-parameter-value"><strong>Type:</strong> collection</td>
      <td class="doc-parameter-description">Information about the SSC library.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">station_info</th>
      <td class="doc-parameter-value"><strong>Type:</strong> collection</td>
      <td class="doc-parameter-description">Information about the weather data used in the simulation. (see <a href="#station-info-fields">station info fields</a> for more detail)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">outputs</th>
      <td class="doc-parameter-value"><strong>Type:</strong> collection</td>
      <td class="doc-parameter-description">
        The data outputs from the simulation. (see <a href="#output-fields">output fields</a> for more detail)
      </td>
    </tr>
  </tbody>
</table>
<br>

### Station Info Fields

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">lat</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">Latitude of the climate station.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">lon</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">Longitude of the climate station.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">elev</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">Elevation of the climate station. (meters)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">tz</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">Timezone offset from GMT.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">location</th>
      <td class="doc-parameter-value"><strong>Type:</strong> string</td>
      <td class="doc-parameter-description">ID of the climate station.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">city</th>
      <td class="doc-parameter-value"><strong>Type:</strong> string</td>
      <td class="doc-parameter-description">City where climate station is located.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">state</th>
      <td class="doc-parameter-value"><strong>Type:</strong> string</td>
      <td class="doc-parameter-description">State where climate station is located.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">solar_resource_file</th>
      <td class="doc-parameter-value"><strong>Type:</strong> string</td>
      <td class="doc-parameter-description">Solar resource filename.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">distance</th>
      <td class="doc-parameter-value"><strong>Type:</strong> integer</td>
      <td class="doc-parameter-description">Distance between the input location and the climate station. (meters)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">weather_data_source</th>
      <td class="doc-parameter-value"><strong>Type:</strong> string</td>
      <td class="doc-parameter-description">Source of the weather data used in the simulation.</td>
    </tr>
  </tbody>
</table>
<br>

### Output Fields

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">poa_monthly</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Monthly plane of array irradiance values. (kWh/m2)<br><br>The array of values represents the value for each month, with the first element being for January and the last element being for December.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">dc_monthly</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Monthly DC array output. (kWhdc)<br><br>The array of values represents the value for each month, with the first element being for January and the last element being for December.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">ac_monthly</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Monthly AC system output. (kWhac)<br><br>The array of values represents the value for each month, with the first element being for January and the last element being for December.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">ac_annual</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">Annual AC system output. (kWhac)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">solrad_monthly</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Monthly solar radiation values. (kWh/m2/day) The array of values represents the value for each month, with the first element being for January and the last element being for December.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">solrad_annual</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">Annual solar radiation values. (kWh/m2/day)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">capacity_factor</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">The ratio of the system's predicted electrical output in the first year of operation to the nameplate output, which is equivalent to the quantity of energy the system would generate if it operated at its nameplate capacity for every hour of the year. (AC-to-DC)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">ac</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly AC system output (only when timeframe=hourly). (Wac)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">poa</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly plane of array irradiance (only when timeframe=hourly). (W/m2)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">dn</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly beam normal irradiance (only when timeframe=hourly). (W/m2)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">dc</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly DC array output (only when timeframe=hourly). (Wdc)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">df</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly diffuse irradiance (only when timeframe=hourly). (W/m2)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">tamb</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly ambient temperature (only when timeframe=hourly). (C)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">tcell</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly module temperature (only when timeframe=hourly) (C)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">wspd</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly windspeed (only when timeframe=hourly). (m/s)</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">alb</th>
      <td class="doc-parameter-value"><strong>Type:</strong> array of decimal</td>
      <td class="doc-parameter-description">Hourly albedo values (only when timeframe=hourly).</td>
    </tr>
  </tbody>
</table>

## Examples

### JSON Output Format

<pre>GET <a href="/api/pvwatts/v8.json?api_key=DEMO_KEY&azimuth=180&system_capacity=4&losses=14&array_type=1&module_type=0&gcr=0.4&dc_ac_ratio=1.2&inv_eff=96.0&radius=0&dataset=nsrdb&tilt=10&lat=40&lon=-105&soiling=12|4|45|23|9|99|67|12.54|54|9|0|7.6&albedo=0.3&bifaciality=0.7">/api/pvwatts/v8.json?api_key=DEMO_KEY&amp;azimuth=180&amp;system_capacity=4&amp;losses=14&amp;array_type=1&amp;module_type=0&amp;gcr=0.4&amp;dc_ac_ratio=1.2&amp;inv_eff=96.0&amp;radius=0&amp;dataset=nsrdb&amp;tilt=10&amp;lat=40&amp;lon=-105&amp;soiling=12|4|45|23|9|99|67|12.54|54|9|0|7.6&amp;albedo=0.3&amp;bifaciality=0.7</a></pre>

```json
{
  "inputs": {
    "api_key": "DEMO_KEY",
    "azimuth": "180",
    "system_capacity": "4",
    "losses": "14",
    "array_type": "1",
    "module_type": "0",
    "gcr": "0.4",
    "dc_ac_ratio": "1.2",
    "inv_eff": "96.0",
    "radius": "0",
    "dataset": "nsrdb",
    "tilt": "10",
    "lat": "40",
    "lon": "-105",
    "soiling": [
      12.0,
      4.0,
      45.0,
      23.0,
      9.0,
      99.0,
      67.0,
      12.54,
      54.0,
      9.0,
      0.0,
      7.6
    ],
    "albedo": "0.3",
    "bifaciality": "0.7"
  },
  "errors": [],
  "warnings": [],
  "version": "8.0.0",
  "ssc_info": {
    "version": 275,
    "build": "Linux 64 bit GNU/C++ Oct  4 2022 03:10:07",
    "module": "pvwattsv8"
  },
  "station_info": {
    "lat": 40.0099983215332,
    "lon": -105.2600021362305,
    "elev": 1635.640014648438,
    "tz": -7.0,
    "location": "149190",
    "city": "",
    "state": "Colorado",
    "solar_resource_file": "149190.csv",
    "weather_data_source": "NSRDB PSM V3 GOES tmy-2020 3.2.0"
  },
  "outputs": {
    "ac_monthly": [
      320.4228876642905,
      384.8616364666353,
      321.3271515621691,
      461.0094975545317,
      554.600835450473,
      40.44452828685269,
      226.7508104582373,
      511.2267102793363,
      256.8889494651126,
      399.0896267699792,
      360.6690887453739,
      294.0619118014161
    ],
    "poa_monthly": [
      96.24926945531107,
      116.1349407270755,
      98.51940622925228,
      144.41773091741,
      183.8794484222849,
      15.66165708215378,
      77.02556424264554,
      173.1452731392307,
      84.65672810465938,
      127.5225461326769,
      111.2069066909127,
      88.32854384099618
    ],
    "solrad_monthly": [
      3.104815143719712,
      4.147676454538409,
      3.178045362233945,
      4.813924363913667,
      5.931595110396287,
      0.5220552360717927,
      2.484695620730502,
      5.585331391588086,
      2.821890936821979,
      4.113630520408932,
      3.706896889697091,
      2.849307865838586
    ],
    "dc_monthly": [
      336.9419000259236,
      403.7478814828723,
      339.0451574758127,
      484.2180320849528,
      582.0288887329309,
      48.66263077401924,
      242.1187483732162,
      536.8888804277215,
      272.1669926053272,
      419.1849677039804,
      378.8226598116249,
      309.3147603281601
    ],
    "ac_annual": 4131.353634504403,
    "solrad_annual": 3.604988741329917,
    "capacity_factor": 11.79039279253541
  }
}
```

### XML Output Format

<pre>GET <a href="/api/pvwatts/v8.xml?api_key=DEMO_KEY&azimuth=180&system_capacity=4&losses=14&array_type=1&module_type=0&gcr=0.4&dc_ac_ratio=1.2&inv_eff=96.0&radius=0&dataset=nsrdb&tilt=10&lat=40&lon=-105&soiling=12|4|45|23|9|99|67|12.54|54|9|0|7.6&albedo=0.3&bifaciality=0.7">/api/pvwatts/v8.xml?api_key=DEMO_KEY&amp;azimuth=180&amp;system_capacity=4&amp;losses=14&amp;array_type=1&amp;module_type=0&amp;gcr=0.4&amp;dc_ac_ratio=1.2&amp;inv_eff=96.0&amp;radius=0&amp;dataset=nsrdb&amp;tilt=10&amp;lat=40&amp;lon=-105&amp;soiling=12|4|45|23|9|99|67|12.54|54|9|0|7.6&amp;albedo=0.3&amp;bifaciality=0.7</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<response>
  <inputs>
    <api-key>DEMO_KEY</api-key>
    <azimuth>180</azimuth>
    <system-capacity>4</system-capacity>
    <losses>14</losses>
    <array-type>1</array-type>
    <module-type>0</module-type>
    <gcr>0.4</gcr>
    <dc-ac-ratio>1.2</dc-ac-ratio>
    <inv-eff>96.0</inv-eff>
    <radius>0</radius>
    <dataset>nsrdb</dataset>
    <tilt>10</tilt>
    <lat>40</lat>,
    <lon>-105</lon>,
    <soiling type="array">
      <soiling type="float">12.0</soiling>
      <soiling type="float">4.0</soiling>
      <soiling type="float">45.0</soiling>
      <soiling type="float">23.0</soiling>
      <soiling type="float">9.0</soiling>
      <soiling type="float">99.0</soiling>
      <soiling type="float">67.0</soiling>
      <soiling type="float">12.54</soiling>
      <soiling type="float">54.0</soiling>
      <soiling type="float">9.0</soiling>
      <soiling type="float">0.0</soiling>
      <soiling type="float">7.6</soiling>
    </soiling>
    <albedo>0.3</albedo>
    <bifaciality>0.7</bifaciality>
  </inputs>
  <errors type="array"/>
  <warnings type="array"/>
  <version>8.0.0</version>
  <ssc-info>
    <version type="integer">275</version>
    <build>Linux 64 bit GNU/C++ Oct  4 2022 03:10:07</build>
    <module>pvwattsv8</module>
  </ssc-info>
  <station-info>
    <lat type="float">40.0099983215332</lat>
    <lon type="float">-105.26000213623047</lon>
    <elev type="float">1635.6400146484375</elev>
    <tz type="float">-7.0</tz>
    <location>149190</location>
    <city></city>
    <state>Colorado</state>
    <solar-resource-file>149190.csv</solar-resource-file>
    <weather-data-source>NSRDB PSM V3 GOES tmy-2020 3.2.0</weather-data-source>
  </station-info>
  <outputs>
    <ac-monthly type="array">
      <ac-monthly type="float">320.4228876642905</ac-monthly>
      <ac-monthly type="float">384.8616364666353</ac-monthly>
      <ac-monthly type="float">321.32715156216915</ac-monthly>
      <ac-monthly type="float">461.00949755453166</ac-monthly>
      <ac-monthly type="float">554.600835450473</ac-monthly>
      <ac-monthly type="float">40.444528286852695</ac-monthly>
      <ac-monthly type="float">226.75081045823728</ac-monthly>
      <ac-monthly type="float">511.2267102793363</ac-monthly>
      <ac-monthly type="float">256.8889494651126</ac-monthly>
      <ac-monthly type="float">399.0896267699792</ac-monthly>
      <ac-monthly type="float">360.66908874537387</ac-monthly>
      <ac-monthly type="float">294.0619118014161</ac-monthly>
    </ac-monthly>
    <poa-monthly type="array">
      <poa-monthly type="float">96.24926945531107</poa-monthly>
      <poa-monthly type="float">116.13494072707546</poa-monthly>
      <poa-monthly type="float">98.51940622925228</poa-monthly>
      <poa-monthly type="float">144.41773091741</poa-monthly>
      <poa-monthly type="float">183.8794484222849</poa-monthly>
      <poa-monthly type="float">15.661657082153782</poa-monthly>
      <poa-monthly type="float">77.02556424264554</poa-monthly>
      <poa-monthly type="float">173.14527313923068</poa-monthly>
      <poa-monthly type="float">84.65672810465938</poa-monthly>
      <poa-monthly type="float">127.5225461326769</poa-monthly>
      <poa-monthly type="float">111.20690669091273</poa-monthly>
      <poa-monthly type="float">88.32854384099618</poa-monthly>
    </poa-monthly>
    <solrad-monthly type="array">
      <solrad-monthly type="float">3.1048151437197116</solrad-monthly>
      <solrad-monthly type="float">4.147676454538409</solrad-monthly>
      <solrad-monthly type="float">3.1780453622339446</solrad-monthly>
      <solrad-monthly type="float">4.813924363913667</solrad-monthly>
      <solrad-monthly type="float">5.9315951103962865</solrad-monthly>
      <solrad-monthly type="float">0.5220552360717927</solrad-monthly>
      <solrad-monthly type="float">2.4846956207305015</solrad-monthly>
      <solrad-monthly type="float">5.5853313915880864</solrad-monthly>
      <solrad-monthly type="float">2.8218909368219793</solrad-monthly>
      <solrad-monthly type="float">4.113630520408932</solrad-monthly>
      <solrad-monthly type="float">3.706896889697091</solrad-monthly>
      <solrad-monthly type="float">2.849307865838586</solrad-monthly>
    </solrad-monthly>
    <dc-monthly type="array">
      <dc-monthly type="float">336.9419000259236</dc-monthly>
      <dc-monthly type="float">403.7478814828723</dc-monthly>
      <dc-monthly type="float">339.04515747581274</dc-monthly>
      <dc-monthly type="float">484.21803208495277</dc-monthly>
      <dc-monthly type="float">582.0288887329309</dc-monthly>
      <dc-monthly type="float">48.66263077401924</dc-monthly>
      <dc-monthly type="float">242.1187483732162</dc-monthly>
      <dc-monthly type="float">536.8888804277215</dc-monthly>
      <dc-monthly type="float">272.16699260532715</dc-monthly>
      <dc-monthly type="float">419.1849677039804</dc-monthly>
      <dc-monthly type="float">378.82265981162493</dc-monthly>
      <dc-monthly type="float">309.3147603281601</dc-monthly>
    </dc-monthly>
    <ac-annual type="float">4131.353634504403</ac-annual>
    <solrad-annual type="float">3.6049887413299166</solrad-annual>
    <capacity-factor type="float">11.79039279253541</capacity-factor>
  </outputs>
</response>
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour.

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">422</th>
      <td class="doc-parameter-description">Unprocessable Entity - One or more parameters did not pass validation, or a parameter may be missing. Check the errors section of the response to see how the request should be modified to address the error.</td>
    </tr>
  </tbody>
</table>
