---
title: REopt™ API
summary: The REopt™ Application Programming Interface provides programmatic access to NREL's REopt tool. REopt is a techno-economic decision support platform is used by NREL researchers to optimize energy systems for buildings, campuses, communities, microgrids, and more. REopt recommends the optimal mix of renewable energy, conventional generation, and energy storage technologies to meet cost savings, resilience, and energy performance goals.
---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

<ul>
    <li>General information related to REopt can be found at the <a href="https://www.nrel.gov/reopt">REopt Platform home page</a> (https://www.nrel.gov/reopt).</li>
    <li>The web version of REopt can be accessed at the <a href="https://reopt.nrel.gov">REopt Web Tool page</a> (https://reopt.nrel.gov).</li>
    <li>For user support please use the <a href="https://github.com/NREL/REopt-Analysis-Scripts/discussions">REopt User Forum</a> (https://github.com/NREL/REopt-Analysis-Scripts/discussions).</li>
    <li>For help calling the API or using REopt.jl, see the <a href="https://github.com/NREL/REopt-Analysis-Scripts/wiki">REopt Analysis Wiki</a> (https://github.com/NREL/REopt-Analysis-Scripts/wiki).</li>
    <li>API developers can find development tips in the <a href="https://github.com/NREL/REopt_API/wiki">REopt API Wiki</a> (https://github.com/NREL/REopt_API/wiki).</li>
    <li>REopt is also available as the <a href="https://nrel.github.io/REopt.jl/dev">REopt.jl Julia package</a> (https://nrel.github.io/REopt.jl/dev) which is the engine of the REopt API starting in V3, and can be used directly in a Julia environment.</li>
</ul>

<%= partial("layouts/child_links") %>
