---
title: REopt API V1
summary: Version 1 is the current, stable version of the REopt API. Support for v1 will end September 30th, 2022 when v2 will become the stable version.
url: GET /api/reopt/v1
sort_value: "0"
alias: docs/energy-optimization/reopt-v1/
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>

# User Documentation
Documentation for using the REopt API is housed at [https://github.com/NREL/REopt-API-Analysis/wiki](https://github.com/NREL/REopt-API-Analysis/wiki)

# Developer Documentation
Documentation for developing the REopt API is housed at [https://github.com/NREL/REopt_Lite_API/wiki](https://github.com/NREL/REopt_Lite_API/wiki)
