---
title: REopt API V1
summary: V1 and V2 of the API are decommissioned, as of 3/31/2024. See V3 (stable).
url: GET /api/reopt/v1
sort_value: "0"
deprecated: true
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>

V1 and V2 of the API are decommissioned, as of 3/31/2024
