---
title: REopt API V2
summary: Version 2 is the stable version of the REopt API. Version 2 provides the same cabilities as Version 1 but wih updated default values.
url: GET /api/reopt/v2 or /api/reopt/stable
sort_value: "0"
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>

# User Documentation
The difference between v1 and v2 is in some default cost assumptions:

- Discount rate from 8.3% to 5.64%
- Electricity cost escalation rate from 2.3% to 1.9%
- PV System capital cost ($/kW) from $1600 to $1592
- PV O&M cost ($/kW/yr) from $16 to $17
- Battery Energy capacity cost ($/kWh) from $420 to $388
- Battery Power capacity cost ($/kW AC) from $840 to $775
- 10 yr Battery Energy capacity replacement cost ($/kWh) from $200 to $220
- 10 yr Battery Power capacity replacement cost ($/kW AC) from $410 to $440
- Wind O&M cost ($/kW/yr) from $40 to $35
- Wind System Capital costs ($/kW)

    - Residential (0-20 kW) from $11950 to $5675
    - Commercial (21-100 kW) from $7390 to $4300
    - Midsize (101-999 kW) from $4440 to $2766
    - Large (>=1000 kW) from $3450 to $2239

These changes in default values can result in different results from v2 compared to v1 (given the same inputs that were used with v1).
These default values relect the latest economic information available.

# Developer Documentation
Documentation for developing the REopt API is housed at [https://github.com/NREL/REopt_API/wiki](https://github.com/NREL/REopt_API/wiki)