---
title: REopt API V3
summary: Version 3 is the development version of the REopt API. It uses the REopt Julia package as it's back-end.
url: GET /api/reopt/dev
sort_value: "0"
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>

Version 3 of the REopt API is currently under development. 
# User Documentation
The inputs and outputs for optimization jobs are revised in v3 for clarity and ease-of-use. Please see [https://github.com/NREL/REopt_API/wiki/new-job-endpoint](https://github.com/NREL/REopt_API/wiki/new-job-endpoint) for more information.

# Developer Documentation
Information for developers regarding v3 can be found at [https://github.com/NREL/REopt_API/wiki/new-job-endpoint](https://github.com/NREL/REopt_API/wiki/new-job-endpoint)