.breadcrumb {
  background-color: transparent;
  color: #3c4349;
  font-size: 11px;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 12px;
}

.breadcrumb,
.breadcrumb a,
.breadcrumb li .divider,
.breadcrumb .active {
  color: #3c4349;
}

.breadcrumb > li + li::before {
  content: '\00BB\00a0';
  color: #3c4349;
  padding: 0px 2px;
}
