h1 {
  margin-bottom: 0px;
}

.feature-row > div {
  margin-bottom: 10px;
}

.feature {
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-position: 100% 100%;

  border: 1px solid #ddd;
  border-radius: 6px;

  padding: 6px 8px;
  height: 100%;
}

.feature-doc {
  background-image: url('/assets/images/nrel/features/doc.png');
  background-position: calc(100% + 50px) calc(100% + 50px);
}

.feature-key {
  background-image: url('/assets/images/nrel/features/key.png');
  background-position: calc(100% + 15px) calc(100% + 15px);
}

.feature-community {
  background-image: url('/assets/images/nrel/features/community.png');
  background-position: calc(100% + 10px) calc(100% + 10px);
}

h1 {
  margin-top: 18px;
}

h2 {
  margin-bottom: 0px;
}

h5, .h5 {
  font-size: 13px;
}

.feature h2 {
  margin: 0px;
}

h3.doc {
  margin-bottom: 0px;
}

h1 span.url,
h3.doc span.url {
  color: #777;
  font-weight: normal;
  padding-left: 12px;
}

h1 span.url {
  font-size: 14px;
}

h3.doc span.url {
  font-size: 12px;
}

.intro-text p {
  margin: 32px 0px 40px 0px;
}

.doc-parameters thead th {
  border-style: none;
  color: #777;
  background-color: #e5e5e5;
  background-image: linear-gradient(to bottom, #edeeef 0%, #e5e5e5 100%);
  text-shadow: #fff 1px 1px 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.doc-parameters tbody th,
.doc-parameters tbody td {
  border: 1px solid #ddd;
  border-width: 1px 0px;
  vertical-align: top;
}

.doc-parameter-options tbody th,
.doc-parameter-options tbody td {
  border-style: none;
}

.doc-parameter-options thead th {
  background: transparent;
  text-shadow: none;
  color: #555;
  border-style: none;
  border-bottom: 1px solid #ddd;
}

.toc {
  padding-right: 2em;
}

.toc li {
  line-height: 16px;
}

.alert-danger h2 {
  margin-top: 0px;
  margin-bottom: 6px;
  color: inherit;
  font-size: 22px;
  text-align: center;
}

pre {
  font-size: 12px;
  word-break: break-all;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8.5px;
  margin-bottom: 9px;
}

code {
  font-size: 12px;
  padding: 2px 4px;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
}

small, .small {
  font-size: 92%;
}

strong small, b small {
  font-weight: bold;
}

blockquote {
  @extend .blockquote;
  padding: 9px 18px;
  border-left: 5px solid #eeeeee
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0px;
}

#urls .card {
  margin-bottom: 18px;

  .card-header a {
    color: #333;
  }
}
