.navbar {
  margin-bottom: 8px;
  min-height: 0px;
  border-width: 0px;
  border-radius: 0px;
  @include gradient-vertical($navbar-default-bg, #00509a);
}

.navbar-inner {
  padding: 0px;
  border-style: none;
  border-radius: 0px;
}

.navbar .nav {
	text-transform: uppercase;
}

.navbar .nav > li {
  border-right: 1px solid #91b6e2;
  font-size: 12px;
}

.navbar .nav > li > a {
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  @include gradient-vertical($navbar-default-link-hover-bg, #d8dfeb);
}
