---
title: Wind Toolkit Data Downloads
summary: Freely available downloads of Wind Integration National Dataset Toolkit.

---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

The Wind Integration National Dataset (WIND) Toolkit is an update and expansion of the Eastern Integration Data Set and Western Wind Integration Data Set. It supports the next generation of wind integration studies. The WIND Toolkit includes meteorological conditions and turbine power for more than 126,000 sites in the continental United States for the years 2007—2013. Read more at [https://www.nrel.gov/grid/wind-toolkit.html](https://www.nrel.gov/grid/wind-toolkit.html)


<%= partial("layouts/child_links") %>

<h2 id="contacts">Contact</h2>

<p>For questions about the API or the data models please contact <a href="mailto:WindToolkit@nrel.gov">WindToolkit@nrel.gov</a></p>
