# ---
# title: India
# summary: This service has been replaced by V2. See <a href="/docs/wind/wind-toolkit/india-wind-download">India Wind V2</a>.
# url: /api/wind-toolkit/wind/india_wind_download
# deprecated: true
# ---

# # <%= current_page.data.title %><span class="url">(<%= current_page.data.url %>)</span>
# <div class="alert alert-danger" style="margin-top: 10px;">
#   <p><%= current_page.data.summary %></p>
# </div>

