# ---
# title: Wind Toolkit Data V1
# summary: This service has been replaced by V2. See <a href="/docs/wind/wind-toolkit/wtk-download">WIND toolkit Download V2</a>
# url: /api/wind-toolkit/wind/wtk_download
# deprecated: true
# ---

# # <%= current_page.data.title %><span class="url">(<%= current_page.data.url %>)</span>
# <div class="alert alert-danger" style="margin-top: 10px;">
#   <p><%= current_page.data.summary %></p>
# </div>
