---
swagger: '2.0'
host: devstage.nrel.gov
basePath: "/api/mep"
schemes:
- https
securityDefinitions:
  ApiKeyQueryAuth:
    type: apiKey
    in: query
    name: api_key
  ApiKeyHeaderAuth:
    type: apiKey
    in: header
    name: X-Api-Key
security:
  - ApiKeyQueryAuth: []
  - ApiKeyHeaderAuth: []
info:
  version: "0.1.0"
  title: MEP Mobility Metric
  description: |-
    Query our API to return the MEP (mobility, energy, productivity) mobility metric for a given location. Our database currently has MEP scores for the following metropolitan areas throughout the USA:
      + Albuquerque, NM
      + Anchorage, AK
      + Atlanta, GA
      + Austin, TX
      + Baltimore, MD
      + Billings, MT
      + Birmimngham, AL
      + Boise, ID
      + Boston, MA
      + Bridgeport, CT
      + Charlotte, NC
      + Charleston, SC
      + Charleston, WV
      + Chattanooga, TN
      + Cheyenne, WY
      + Chicago, IL
      + Cincinnati, OH
      + Cleveland, OH
      + Columbia, SC
      + Colombus, OH
      + Dallas-Fort Worth, TX
      + Denver, CO
      + Detroit, MI
      + Fargo, ND
      + Hartford, CT
      + Houston, TX
      + Indianapolis, IN
      + Jackson, MO
      + Jacksonville, FL
      + Kansas City, MO
      + Knoxville, TN
      + Las Vegas, NV
      + Little Rock, AR
      + Los Angeles, CA
      + Louisville, KY
      + Memphis, TN
      + Miami, FL
      + Milwaukee, WI
      + Minneapolis, MN
      + Nashville, TN
      + New York, NY
      + Oklahoma City, OK
      + Orlando, FL
      + Philadelphia, PA
      + Phoenix, AZ
      + Portland, OR
      + Providence, RI
      + Raleigh, NC
      + Richmond, VA
      + Riverside, CA
      + Sacramento, CA
      + San Antonio, TX
      + San Diego, CA
      + San Francisco, CA
      + San Jose, CA
      + Seattle, WA
      + Sioux Falls, SD
      + St. Louis, MO
      + Tampa, FL
      + Topeka, KS
      + Honolulu, HI
      + Virginia Beach, VA
      + Washington DC
      + Wichita, KS

    NREL has developed a new quality of mobility metric known as the mobility, energy, productivity (MEP) metric. The MEP metric expands upon existing measures of mobility to include additional parameters such as energy consumption, total trip cost, and accessibility to opportunities (employment, health care, grocery, etc.). The resulting metric provides a robust assessment of the quality of mobility provided to each traveler at a given location, regardless of whether that traveler possesses their own mode of personal transportation.
paths:
  "/v0/":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/MepScore"
      description: ''
      summary: Return the MEP score for a given location.
      parameters:
      - in: query
        description: Latitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lat
        required: true
        type: string
      - in: query
        description: Longitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lon
        required: true
        type: string
  "/v0/by-mode":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/MepScoreByMode"
      description: ''
      summary: Return the MEP score for a given location and mode of transportation.
      parameters:
      - in: query
        description: Latitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lat
        required: true
        type: string
      - in: query
        description: Longitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lon
        required: true
        type: string
      - in: query
        description: Mode of transportation
        name: mode
        required: true
        type: string
        enum:
          - drive
          - bike
          - walk
          - transit
  "/v0/isochrone":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/Isochrone"
      description: ''
      summary: Return an isochrone for a given location, mode of transportation, and time (minutes). This endpoint requires approval to access. Please email Yi.Hou@nrel.gov to request approval.
      parameters:
      - in: query
        description: Latitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lat
        required: true
        type: string
      - in: query
        description: Longitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lon
        required: true
        type: string
      - in: query
        description: Mode of transportation
        name: mode
        required: true
        type: string
        enum:
          - drive
          - bike
          - walk
          - transit
      - in: query
        description: Time of interest (minutes)
        name: time
        required: true
        type: integer
        enum:
          - 10
          - 20
          - 30
          - 40
  "/v0/bulk_data":
    get:
      tags:
      - "MEP"
      produces:
        - text/csv
      responses:
        200:
          description: |-
            id,lon,lat,grid_geom,drive,bike,walk,transit,sch_day_rel,medical,shop_err,recreation,meals,jobs,mep
            1,-97.38038223,37.84682061,"{""type"":""MultiPolygon"",""coordinates"":[[[[-97.38183153,37.843576],[-97.38184,37.84558],[-97.381138,37.850431],[-97.379152,37.85043165],[-97.379152,37.843576],[-97.38183153,37.843576]]]]}",25,2,0,0,1,1,9,6,4,6,27
            2,-97.37558285,37.84700411,"{""type"":""MultiPolygon"",""coordinates"":[[[[-97.379152,37.85043165],[-97.372016,37.850434],[-97.37201223,37.843576],[-97.379152,37.843576],[-97.379152,37.85043165]]]]}",26,1,0,0,1,1,9,6,4,6,27
            3,-97.35194828,37.84895086,"{""type"":""MultiPolygon"",""coordinates"":[[[[-97.35398367,37.843576],[-97.354042,37.853541],[-97.349416,37.853576],[-97.349392,37.848145],[-97.351717,37.848144],[-97.351704,37.846484],[-97.350373,37.846502],[-97.35036332,37.843576],[-97.35398367,37.843576]]]]}",32,2,0,0,1,1,11,9,5,8,34
            4,-97.38949933,37.83905578,"{""type"":""MultiPolygon"",""coordinates"":[[[[-97.389152,37.83815867],[-97.390194,37.839504],[-97.389152,37.83950466],[-97.389152,37.83815867]]]]}",21,1,0,0,1,1,8,5,3,5,22
            ...
      description: ''
      summary: Return bulk data download for entire city as csv.
      parameters:
      - in: query
        description: City name
        name: city
        required: true
        enum:
          - Albuquerque
          - Anchorage
          - Atlanta
          - Austin
          - Baltimore
          - Billings
          - Birmimngham
          - Boise
          - Boston
          - Bridgeport
          - Charlotte
          - Charleston
          - Charleston
          - Chattanooga
          - Cheyenne
          - Chicago
          - Cincinnati
          - Cleveland
          - Columbia
          - Colombus
          - Dallas-Fort Worth
          - Denver
          - Detroit
          - Fargo
          - Hartford
          - Houston
          - Indianapolis
          - Jackson
          - Jacksonville
          - Kansas City
          - Knoxville
          - Las Vegas
          - Little Rock
          - Los Angeles
          - Louisville
          - Memphis
          - Miami
          - Milwaukee
          - Minneapolis
          - Nashville
          - New York
          - Oklahoma City
          - Orlando
          - Philadelphia
          - Phoenix
          - Portland
          - Providence
          - Raleigh
          - Richmond
          - Riverside
          - Sacramento
          - San Antonio
          - San Diego
          - San Francisco
          - San Jose
          - Seattle
          - Sioux Falls
          - St. Louis
          - Tampa
          - Topeka
          - Honolulu
          - Virginia Beach
          - Washington DC
          - Wichita
      - in: query
        description: State name
        name: state
        required: true
        enum:
          - AK
          - AL
          - AR
          - AZ
          - CA
          - CO
          - CT
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - KS
          - KY
          - MA
          - MD
          - MI
          - MN
          - MO
          - MT
          - NC
          - ND
          - NM
          - NV
          - NY
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - VA
          - WA
          - WI
          - WV
          - WY
definitions:
  Metadata:
    description: The identifying metadata.
    required:
    - version
    properties:
      version:
        type: string
        description: This is the version of the api
        example: "0.1.0"
  MepScore:
    required:
      - metadata
      - inputs
      - score
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      inputs:
        description: The parameters that were passed to the API
        required:
        - lat
        - lon
        properties:
          lat:
            type: string
            description: The specified latitude (SRID 4269)
            example: 33.04444
          lon:
            type: string
            description: The specified longitude (SRID 4269)
            example: -97.3176617
      score:
        description: MEP score for specified location
        type: integer
        example: 88
  MepScoreByMode:
    required:
      - metadata
      - inputs
      - score
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      inputs:
        description: The parameters that were passed to the API
        required:
        - lat
        - lon
        - mode
        properties:
          lat:
            type: string
            description: The specified latitude (SRID 4269)
            example: 33.04444
          lon:
            type: string
            description: The specified longitude (SRID 4269)
            example: -97.3176617
          mode:
            type: string
            description: The specified mode of transportation
            example: transit
      score:
        description: MEP score for specified location and mode of transportation
        type: integer
        example: 0
  Point2D:
    type: array
    maxItems: 2
    minItems: 2
    items:
      type: number
    example: [-97.3967098885958, 33.0843489639987]
  Isochrone:
    required:
      - metadata
      - inputs
      - isochrone
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      inputs:
        description: The parameters that were passed to the API
        required:
        - lat
        - lon
        - mode
        - time
        properties:
          lat:
            type: string
            description: The specified latitude (SRID 4269)
            example: 33.04444
          lon:
            type: string
            description: The specified longitude (SRID 4269)
            example: -97.3176617
          mode:
            type: string
            description: The specified mode of transportation
            example: walk
          time:
            type: integer
            description: The specified time in minutes
            example: 10
      isochrone:
          type: object
          description: Isochrone as GeoJSON for given location, mode of transportation, and time.
          externalDocs:
            url: http://geojson.org/geojson-spec.html#id4
          properties:
            type:
              type: string
              example: "polygon"
            coordinates:
              type: array
              items:
                type: array
                items:
                  $ref: '#/definitions/Point2D'
