---
swagger: '2.0'
host: devstage.nrel.gov
basePath: "/api/mep"
schemes:
- https
securityDefinitions:
  ApiKeyQueryAuth:
    type: apiKey
    in: query
    name: api_key
  ApiKeyHeaderAuth:
    type: apiKey
    in: header
    name: X-Api-Key
security:
  - ApiKeyQueryAuth: []
  - ApiKeyHeaderAuth: []
info:
  version: "0.1.0"
  title: MEP Mobility Metric
  description: |-
    Query our API to return the MEP (mobility, energy, productivity) mobility metric for a given location. Our database currently has MEP scores for over 100 metropolitan areas throughout the U.S.A.  Query the `/cities` endpoint to see a list of available cities.

    NREL has developed a new quality of mobility metric known as the mobility, energy, productivity (MEP) metric. The MEP metric expands upon existing measures of mobility to include additional parameters such as energy consumption, total trip cost, and accessibility to opportunities (employment, health care, grocery, etc.). The resulting metric provides a robust assessment of the quality of mobility provided to each traveler at a given location, regardless of whether that traveler possesses their own mode of personal transportation.
paths:
  "/v0/cities":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/Cities"
      description: ''
      summary: Return the list of cities with mep scores and isochrones available.
      parameters:
  "/v0/city-boundary":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/CityBoundary"
      description: ''
      summary: Return the specified city boundary as a GeoJSON object.
      parameters:
        - in: query
          description: Required along with `state` unless `region` is specified
          name: city
          type: string
        - in: query
          description: Required along with `city` unless `region` is specified
          name: state
          type: string
        - in: query
          description: Required unless `state` and `region` are specified
          name: region
          type: string
  "/v0/score":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/MepScore"
      description: ''
      summary: Return the MEP score for a given location.
      parameters:
      - in: query
        description: Latitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lat
        required: true
        type: string
      - in: query
        description: Longitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lon
        required: true
        type: string
  "/v0/isochrones":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/IsochronesByLatLon"
      description: ''
      summary: Return isochrones by mode and time for a given location. This endpoint requires approval to access. Please email Yi.Hou@nrel.gov to request approval.
      parameters:
      - in: query
        description: Latitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lat
        required: true
        type: string
      - in: query
        description: Longitude of point of interest with a spatial reference identifier (SRID) of 4269
        name: lon
        required: true
        type: string
  "/v0/isochrones/by-grid-cell":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/IsochronesByGridCell"
      description: ''
      summary: Return isochrones by mode and time for a given location. This endpoint requires approval to access. Please email Yi.Hou@nrel.gov to request approval.
      parameters:
      - in: query
        description: Id of cell within city grid
        name: cell_id
        required: true
        type: integer
      - in: query
        description: Required along with `state` unless `region` is specified
        name: city
        type: string
      - in: query
        description: Required along with `city` unless `region` is specified
        name: state
        type: string
      - in: query
        description: Required unless `state` and `region` are specified
        name: region
        type: string
  "/v0/mep-breakdown":
    get:
      tags:
      - "MEP"
      responses:
        '200':
          description: Successful request
          schema:
            "$ref": "#/definitions/MepBreakdown"
      description: ''
      summary: Return the constituent elements that comprise a MEP score by city grid cell. This endpoint requires approval to access. Please email Yi.Hou@nrel.gov to request approval.
      parameters:
      - in: query
        description: Required along with `state` unless `region` is specified
        name: city
        type: string
      - in: query
        description: Required along with `city` unless `region` is specified
        name: state
        type: string
      - in: query
        description: Required unless `state` and `region` are specified
        name: region
        type: string
      - in: query
        description: Number of records to return (max = 3000)
        name: limit
        required: true
        type: integer
      - in: query
        description: Record offset
        name: offset
        required: true
        type: integer
  "/v0/bulk_data":
    get:
      tags:
      - "MEP"
      produces:
        - text/csv
      responses:
        200:
          description: |-
            id,lon,lat,grid_geom,drive,bike,walk,transit,sch_day_rel,medical,shop_err,recreation,meals,jobs,mep
            1,-97.38038223,37.84682061,"{""type"":""MultiPolygon"",""coordinates"":[[[[-97.38183153,37.843576],[-97.38184,37.84558],[-97.381138,37.850431],[-97.379152,37.85043165],[-97.379152,37.843576],[-97.38183153,37.843576]]]]}",25,2,0,0,1,1,9,6,4,6,27
            2,-97.37558285,37.84700411,"{""type"":""MultiPolygon"",""coordinates"":[[[[-97.379152,37.85043165],[-97.372016,37.850434],[-97.37201223,37.843576],[-97.379152,37.843576],[-97.379152,37.85043165]]]]}",26,1,0,0,1,1,9,6,4,6,27
            3,-97.35194828,37.84895086,"{""type"":""MultiPolygon"",""coordinates"":[[[[-97.35398367,37.843576],[-97.354042,37.853541],[-97.349416,37.853576],[-97.349392,37.848145],[-97.351717,37.848144],[-97.351704,37.846484],[-97.350373,37.846502],[-97.35036332,37.843576],[-97.35398367,37.843576]]]]}",32,2,0,0,1,1,11,9,5,8,34
            4,-97.38949933,37.83905578,"{""type"":""MultiPolygon"",""coordinates"":[[[[-97.389152,37.83815867],[-97.390194,37.839504],[-97.389152,37.83950466],[-97.389152,37.83815867]]]]}",21,1,0,0,1,1,8,5,3,5,22
            ...
      description: ''
      summary: Return bulk data download for entire city as csv.
      parameters:
      - in: query
        description: City name
        name: city
        required: true
      - in: query
        description: State name
        name: state
        required: true
definitions:
  Metadata:
    description: The identifying metadata.
    required:
    - version
    properties:
      version:
        type: string
        description: This is the version of the api
        example: "0.1.0"
  Cities:
    required:
      - metadata
      - cities_available
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      cities_available:
        type: array
        items:
          type: string
        example: ["Albuquerque, NM", "Anchorage, AK", "Atlanta, GA", "Augusta-Richmond County, GA--SC", "Austin, TX", "Baltimore, MD",]
  MepScore:
    required:
      - metadata
      - inputs
      - score
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      inputs:
        description: The parameters that were passed to the API
        required:
        - lat
        - lon
        properties:
          lat:
            type: string
            description: The specified latitude (SRID 4269)
            example: 33.04444
          lon:
            type: string
            description: The specified longitude (SRID 4269)
            example: -97.3176617
      score:
        type: object
        properties:
          overall:
            type: number
            description: Overall MEP score for specified location
            example: 309.0
          by_mode:
            type: object
            properties:
              drive:
                type: number
                description: Drive MEP score for specified location
                example: 288.0
              bike:
                type: number
                description: Drive MEP score for specified location
                example: 71.0
              walk:
                type: number
                description: Drive MEP score for specified location
                example: 2.0
              transit:
                type: number
                description: Drive MEP score for specified location
                example: 9.0
  MepBreakdown:
    required:
      - metadata
      - inputs
      - score
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      inputs:
        description: The parameters that were passed to the API
        required:
        - city
        - state
        - region
        - limit
        - offset
        properties:
          city:
            type: string
            description: City of interest
            example: atlanta
          state:
            type: string
            description: State of interest
            example: ga
          limit:
            type: integer
            description: Number of records to return
            example: 3000
          offset:
            type: integer
            description: Record offset
            example: 6000
      total_cell_count:
        type: integer
        description: Total number of cells within city grid
        example: 8148
      scores_by_grid_cell:
        type: object
        properties:
          id:
            type: integer
            description: Unique ID of grid cell
            example: 14
          scores:
            type: object
            properties:
              all_jobs:
                type: number
                example: 25.6772
              all_meals:
                type: number
                example: 25.6772
              all_medical:
                type: number
                example: 25.6772
              all_recreation:
                type: number
                example: 25.6772
              all_sch_day_rel:
                type: number
                example: 25.6772
              all_shop_err:
                type: number
                example: 25.6772
              bike_all:
                type: number
                example: 25.6772
              bike_jobs:
                type: number
                example: 25.6772
              bike_meals:
                type: number
                example: 25.6772
              bike_medical:
                type: number
                example: 25.6772
              bike_recreation:
                type: number
                example: 25.6772
              bike_sch_day_rel:
                type: number
                example: 25.6772
              bike_shop_err:
                type: number
                example: 25.6772
              drive_all:
                type: number
                example: 25.6772
              drive_jobs:
                type: number
                example: 25.6772
              drive_meals:
                type: number
                example: 25.6772
              drive_medical:
                type: number
                example: 25.6772
              drive_recreation:
                type: number
                example: 25.6772
              drive_sch_day_rel:
                type: number
                example: 25.6772
              drive_shop_err:
                type: number
                example: 25.6772
              lat:
                type: number
                example: 25.6772
              lon:
                type: number
                example: 25.6772
              mep:
                type: number
                example: 25.6772
              population:
                type: number
                example: 25.6772
              tnc_all:
                type: number
                example: 25.6772
              tnc_jobs:
                type: number
                example: 25.6772
              tnc_meals:
                type: number
                example: 25.6772
              tnc_medical:
                type: number
                example: 25.6772
              tnc_recreation:
                type: number
                example: 25.6772
              tnc_sch_day_rel:
                type: number
                example: 25.6772
              tnc_shop_err:
                type: number
                example: 25.6772
              transit_all:
                type: number
                example: 25.6772
              transit_jobs:
                type: number
                example: 25.6772
              transit_meals:
                type: number
                example: 25.6772
              transit_medical:
                type: number
                example: 25.6772
              transit_recreation:
                type: number
                example: 25.6772
              transit_sch_day_rel:
                type: number
                example: 25.6772
              transit_shop_err:
                type: number
                example: 25.6772
              walk_all:
                type: number
                example: 25.6772
              walk_meals:
                type: number
                example: 25.6772
              walk_medical:
                type: number
                example: 25.6772
              walk_sch_day_rel:
                type: number
                example: 25.6772
              walk_shop_err:
                type: number
                example: 25.6772
              walk_recreation:
                type: number
                example: 25.6772
              walk_jobs:
                type: number
                example: 25.6772
  Regions:
    type: string
    example: atlanta_ga
  Isochrones:
    type: object
    description: Isochrones by mode and time as GeoJSON for given location.
    externalDocs:
      url: http://geojson.org/geojson-spec.html#id4
    properties:
      bike:
        type: object
        properties:
          10_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          20_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          30_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          40_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
      drive:
        type: object
        properties:
          10_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          20_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          30_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          40_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
      tnc:
        type: object
        properties:
          10_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          20_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          30_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          40_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
      transit:
        type: object
        properties:
          10_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          20_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          30_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          40_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
      walk:
        type: object
        properties:
          10_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          20_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          30_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
          40_min:
            type: object
            $ref: '#/definitions/IsochroneByModeAndTime'
  IsochronesByLatLon:
    required:
      - metadata
      - inputs
      - isochrones
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      inputs:
        description: The parameters that were passed to the API
        required:
        - lat
        - lon
        properties:
          lat:
            type: string
            description: The specified latitude (SRID 4269)
            example: 33.04444
          lon:
            type: string
            description: The specified longitude (SRID 4269)
            example: -97.3176617
      isochrones:
        "$ref": "#definitions/Isochrones"
  IsochronesByGridCell:
    required:
      - metadata
      - inputs
      - isochrones
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      inputs:
        description: The parameters that were passed to the API
        required:
        - cell_id
        - city
        - state
        properties:
          cell_id:
            type: integer
            description: The cell id within the city grid
            example: 14
          city:
            type: string
            description: City of interest
            example: atlanta
          state:
            type: string
            description: State of interest
            example: ga
      isochrones:
        "$ref": "#definitions/Isochrones"
  Point2D:
    type: array
    maxItems: 2
    minItems: 2
    items:
      type: number
    example: [-97.3967098885958, 33.0843489639987]
  IsochroneByModeAndTime:
    type: object
    properties:
      type:
        type: string
        example: "Polygon"
      coordinates:
        type: array
        items:
          $ref: '#/definitions/Point2D'
  CityBoundary:
    required:
      - metadata
      - inputs
      - boundary
    type: object
    properties:
      metadata:
        "$ref": "#/definitions/Metadata"
      inputs:
        description: The parameters that were passed to the API
        required:
        - city
        - state
        properties:
          city:
            type: string
            description: City of interest
            example: atlanta
          state:
            type: string
            description: State of interest
            example: ga
      boundary:
        type: object
        description: City boundary as GeoJSON object
        properties:
          type:
            type: string
            example: "MultiPolygon"
          coordinates:
            type: array
            items:
              $ref: '#/definitions/Point2D'
