h1 {
  margin-bottom: 0px;
}

h1 {
  margin-top: 18px;
}

h2 {
  margin-bottom: 0px;
}

h5, .h5 {
  font-size: 13px;
}

h3.doc {
  margin-bottom: 0px;
}

h1 span.url,
h3.doc span.url {
  color: #777;
  font-weight: unset;
  padding-left: 12px;
}

.intro-text p {
  margin: 32px 0px 40px 0px;
}

.doc-parameters thead th {
  border-style: none;
  color: #777;
  background-color: #e5e5e5;
  background-image: linear-gradient(to bottom, #edeeef 0%, #e5e5e5 100%);
  text-shadow: #fff 1px 1px 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.doc-parameters tbody th,
.doc-parameters tbody td {
  border: 1px solid #ddd;
  border-width: 1px 0px;
  vertical-align: top;
}

.doc-parameter-options tbody th,
.doc-parameter-options tbody td {
  border-style: none;
}

.doc-parameter-options thead th {
  background: transparent;
  text-shadow: none;
  color: #555;
  border-style: none;
  border-bottom: 1px solid #ddd;
}

.alert-danger h2 {
  margin-top: 0px;
  margin-bottom: 6px;
  color: inherit;
  font-size: 22px;
  text-align: center;
}

pre {
  // font-size: 12px;
  word-break: break-all;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

code {
  // font-size: 12px;
  padding: 2px 4px;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
}

small, .small {
  font-size: 92%;
}

strong small, b small {
  font-weight: bold;
}

blockquote {
  @extend .blockquote;
  padding: 9px 18px;
  border-left: 5px solid #eeeeee
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0px;
}

#urls .card {
  margin-bottom: 18px;

  .card-header a {
    color: #333;
  }
}
