---
title: Contact Us
---

<h1>Contact Us</h1>
<p>Feel free to contact us with questions, comments, or to report any problems.</p>

<div class="row">
  <div class="col-md-5">
    <a href="https://github.com/NREL/developer.nrel.gov/issues" class="d-block btn btn-primary btn-lg">
      <i class="fab fa-github me-1"></i>
      <span>File an issue on GitHub</span>
    </a>
  </div>
  <div class="col-md-5 offset-md-2">
    <a href="#contact" class="d-block btn btn-primary btn-lg">
      <i class="fas fa-comments me-1"></i>
      <span>Contact us directly</span>
    </a>
  </div>
</div>

<h3 id="contact" style="margin-top: 3em;"><i class="fas fa-comments"></i> Contact us directly</h3>
<p class="required-fields">Required fields are marked with an asterisk (<abbr title="required" class="required">*</abbr>).</p>
<form id="nrel_contact_form" class="form-horizontal" role="form">
  <div class="mb-3">
    <label class="form-label" for="contact_name">Name <abbr title="required" class="required">*</abbr></label>
    <div class="col-sm-5">
      <input class="form-control" id="contact_name" name="contact[name]" size="50" type="text" required />
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="contact_email">Email <abbr title="required" class="required">*</abbr> </label>
    <div class="col-sm-5">
      <input class="form-control" id="contact_email" name="contact[email]" size="50" type="email" required />
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="contact_subject">Subject <abbr title="required" class="required">*</abbr> </label>
    <div class="col-sm-5">
      <select class="form-select" id="contact_subject" name="contact[subject]" required>
        <option value="">Please choose one...</option>
        <option>Alternative Fuel Stations API</option>
        <option>Buildings APIs</option>
        <option>Incentives APIs</option>
        <option>NSRDB APIs and Services</option>
        <option>PVDAQ APIs</option>
        <option>PVWatts APIs</option>
        <option>REopt Lite API</option>
        <option>Solar Data Query API</option>
        <option>Solar Resource Data API</option>
        <option>Transportation APIs</option>
        <option>Utility Rates APIs</option>
        <option>Wind APIs</option>
        <option>Other (please specify in message)</option>
      </select>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="contact_message">What can we help you with? <abbr title="required" class="required">*</abbr> </label>
    <div class="col-sm-5">
      <textarea class="form-control" cols="40" id="contact_message" name="contact[message]" rows="6" required></textarea>
    </div>
  </div>
  <input id="contact_project" name="contact[project]" type="hidden" value="developer" required />
  <div class="mb-3">
    <noscript><div class="alert alert-danger" role="alert">Please enable JavaScript to contact us.</div></noscript>
    <button type="submit" class="btn btn-lg btn-primary" data-loading-text="Loading...">Send</button>
  </div>

  <div id="alert_modal" class="modal dialog-container" aria-describedby="alert_modal_message" aria-hidden="true">
    <div class="modal-backdrop show" data-a11y-dialog-hide></div>
    <div role="document" class="modal d-block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button type="button" class="btn-close" data-a11y-dialog-hide aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0" id="alert_modal_message"></div>
        </div>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript">
  window.nrelContactOptions = {
    apiKey: "qhbzQVQybC6mS0Nfk2ad5bs9C9VIUnIkvAckkuBx",
    issuesUrl: "https://github.com/NREL/developer.nrel.gov/issues"
  };
</script>
<%= vite_javascript_tag "contact" %>
