---
title: Home
disable_breadcrumbs: true
disable_in_breadcrumbs_trail: true
---

<div class="intro-text">
  <p>The National Renewable Energy Laboratory provides application programming interfaces (APIs) to help developers access and use energy data. These web services include renewable energy and alternative fuel data.</p>
</div>

<div class="row feature-row">
  <div class="col-md-4">
    <div class="card text-bg-light h-100">
      <div class="card-body">
        <h2 class="card-title"><a href="/docs">APIs and Documentation</a></h2>
        <p>Explore our web services and API documentation.</p>
        <ul>
          <% sitemap.find_resource_by_destination_path("/docs/index.html").children.sort_by { |p| p.data.title.to_s }.each do |child| %>
            <% next if(child.data.hidden_child || child.data.title.to_s.blank?) %>
            <li><%= link_to(child.data.title, child) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-bg-light h-100">
      <div class="card-body">
        <h2 class="card-title"><a href="/signup/">Key Signup</a></h2>
        <p>Request an API key to use our web services.</p>
        <ul>
          <li><a href="/signup/">Get an API Key</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-bg-light h-100">
      <div class="card-body">
        <h2 class="card-title"><a href="/contact/">Contact Us</a></h2>
        <p>Ask a question, send comments, or report a problem.</p>
      </div>
    </div>
  </div>
</div>
