---
title: Home
disable_breadcrumbs: true
disable_in_breadcrumbs_trail: true
---

<p class="lead my-4">The National Laboratory of the Rockies (NLR) provides application programming interfaces (APIs) to help developers access and use energy data. These web services include renewable energy and alternative fuel data.</p>

<div class="row feature-row">
  <div class="col-md-4 mb-3">
    <div class="card bg-body-secondary border-0 rounded-0 h-100">
      <div class="card-body">
        <h2 class="card-title"><a href="/docs/">APIs &amp; Documentation</a></h2>
        <p>Explore our web services and API documentation.</p>
        <ul>
          <% sitemap.find_resource_by_destination_path("/docs/index.html").children.sort_by { |p| p.data.title.to_s }.each do |child| %>
            <% next if(child.data.hidden_child || child.data.title.to_s.blank?) %>
            <li><%= link_to(child.data.title, child) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card bg-body-secondary border-0 rounded-0 h-100">
      <div class="card-body">
        <h2 class="card-title"><a href="/signup/">Key Signup</a></h2>
        <p>Request an API key to use our web services.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card bg-body-secondary border-0 rounded-0 h-100">
      <div class="card-body">
        <h2 class="card-title"><a href="/contact/">Contact Us</a></h2>
        <p>Ask a question, send comments, or report a problem.</p>
      </div>
    </div>
  </div>
</div>
