---
title: Solar Dataset Query
summary: Returns information about data available for a given location for the solar resource database used by the <a href="https://pvwatts.nrel.gov">PVWatts® Calculator</a> and <a href="/docs/solar/pvwatts/">PVWatts APIs</a>.
---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

---

<%= partial("layouts/child_links") %>
