<tr>
  <th class="doc-parameter-name" scope="row">status</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all</em>, <i>E, P, T</i>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return stations that match the given status. A single status, or a comma-separated list of multiple statuses, may be given.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
          <td>Include both open and planned stations.</td>
        </tr>
        <tr>
          <th scope="row">E</th>
          <td>Open: The station is open and carries alternative fuel.</td>
        </tr>
        <tr>
          <th scope="row">P</th>
          <td>Planned: The station is not yet open, but plans to carry alternative fuel in the future, or the station is temporarily out of service.</td>
        </tr>
        <tr>
          <th scope="row">T</th>
          <td>Temporarily unavailable: The station is temporarily unavailable. See the “Expected Date” field for an anticipated open date.</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">access</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <i>all, public, private</i>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return stations with the given access type.</p>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">fuel_type</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all</em>, <em>BD</em>, <em>CNG</em>, <em>E85</em>, <em>ELEC</em>, <em>HY</em>, <em>LNG</em>, <em>LPG</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return stations that supply any of the given fuel types. A single fuel type, or a comma-separated list of multiple fuel types, may be given.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
          <td>Include all fuel types</td>
        </tr>
        <tr>
          <th scope="row">BD</th>
          <td>Biodiesel (B20 and above)</td>
        </tr>
        <tr>
          <th scope="row">CNG</th>
          <td>Compressed Natural Gas</td>
        </tr>
        <tr>
          <th scope="row">E85</th>
          <td>Ethanol (E85)</td>
        </tr>
        <tr>
          <th scope="row">ELEC</th>
          <td>Electric</td>
        </tr>
        <tr>
          <th scope="row">HY</th>
          <td>Hydrogen</td>
        </tr>
        <tr>
          <th scope="row">LNG</th>
          <td>Liquefied Natural Gas</td>
        </tr>
        <tr>
          <th scope="row">LPG</th>
          <td>Liquefied Petroleum Gas (Propane)</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">cards_accepted</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all, A, D, M, V, Cash, Checks, CFN, CleanEnergy, Comdata, EFS, FleetOne, FuelMan, GasCard, PHH, PacificPride, Speedway, Tchek, TCH, Trillium, Voyager, Wright_Exp</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return stations that accept any of the given payment methods. A single payment method, or a comma-separated list of multiple payment methods, may be given.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
          <td>Include all payment types</td>
        </tr>
        <tr>
          <th scope="row">A</th>
          <td>American Express</td>
        </tr>
        <tr>
          <th scope="row">D</th>
          <td>Discover</td>
        </tr>
        <tr>
          <th scope="row">M</th>
          <td>MasterCard</td>
        </tr>
        <tr>
          <th scope="row">V</th>
          <td>Visa</td>
        </tr>
        <tr>
          <th scope="row">Cash</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Checks</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">CFN</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">CleanEnergy</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Comdata</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">EFS</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">FleetOne</th>
          <td>Fleet One</td>
        </tr>
        <tr>
          <th scope="row">FuelMan</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">GasCard</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">PHH</th>
          <td>PHH Services</td>
        </tr>
        <tr>
          <th scope="row">PacificPride</th>
          <td>Pacific Pride</td>
        </tr>
        <tr>
          <th scope="row">Speedway</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Tchek</th>
          <td>T-Chek T-Card</td>
        </tr>
        <tr>
          <th scope="row">TCH</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Trillium</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Voyager</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Wright_Exp</th>
          <td>Wright Express</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">owner_type</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all, FG, LG, P, SG, T</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return stations owned by the given types of owners. A single owner type, or a comma-separated list of multiple owner types, may be given.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
          <td>Include all owner types</td>
        </tr>
        <tr>
          <th scope="row">P</th>
          <td>Privately owned</td>
        </tr>
        <tr>
          <th scope="row">T</th>
          <td>Utility owned</td>
        </tr>
        <tr>
          <th scope="row">FG</th>
          <td>Federal government owned</td>
        </tr>
        <tr>
          <th scope="row">LG</th>
          <td>Local government owned</td>
        </tr>
        <tr>
          <th scope="row">SG</th>
          <td>State government owned</td>
        </tr>
        <tr>
          <th scope="row">J</th>
          <td>Jointly owned (combination of owner types)</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">federal_agency_id</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> integer
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all, (see table to right for IDs)</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return stations owned by the given federal agency. A federal agency ID, or a comma-separated list of multiple federal agency IDs, may be given.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
          <td>Include all stations, regardless of federal agency owner</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Defense Agencies</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>U.S. Department of Agriculture</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Department of Air Force</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Department of Army</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Department of Commerce</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>U.S. Department of Energy</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Department of Health and Human Services</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Department of Homeland Security</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Department of Justice</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Department of Navy</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td>Department of the Interior</td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td>U.S. Department of Transportation</td>
        </tr>
        <tr>
          <th scope="row">19</th>
          <td>Department of Veterans Affairs</td>
        </tr>
        <tr>
          <th scope="row">20</th>
          <td>U.S. Environmental Protection Agency</td>
        </tr>
        <tr>
          <th scope="row">22</th>
          <td>National Aeronautics and Space Administration</td>
        </tr>
        <tr>
          <th scope="row">23</th>
          <td>Smithsonian Institution</td>
        </tr>
        <tr>
          <th scope="row">24</th>
          <td>Social Security Administration</td>
        </tr>
        <tr>
          <th scope="row">25</th>
          <td>U.S. Postal Service</td>
        </tr>
        <tr>
          <th scope="row">26</th>
          <td>United States Marine Corps</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">ev_network</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all, AeroVironment Network, Blink Network, ChargePoint Network, EV Connect, eVgo Network, EVSE LLC WebNet, Greenlots, OpConnect, RechargeAccess, SemaCharge Network, Shorepower, Tesla</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return only electric charging stations that belong to the given network. A single network, or a comma separate list of multiple networks, may be given.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
      <thead>
        <tr>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
        </tr>
        <tr>
          <th scope="row">AeroVironment Network</th>
        </tr>
        <tr>
          <th scope="row">Blink Network</th>
        </tr>
        <tr>
          <th scope="row">ChargePoint Network</th>
        </tr>
        <tr>
          <th scope="row">EV Connect</th>
        </tr>
        <tr>
          <th scope="row">eVgo Network</th>
        </tr>
        <tr>
          <th scope="row">EVSE LLC WebNet</th>
        </tr>
        <tr>
          <th scope="row">Greenlots</th>
        </tr>
        <tr>
          <th scope="row">OpConnect</th>
        </tr>
        <tr>
          <th scope="row">RechargeAccess</th>
        </tr>
        <tr>
          <th scope="row">SemaCharge Network</th>
        </tr>
        <tr>
          <th scope="row">Shorepower</th>
        </tr>
        <tr>
          <th scope="row">Tesla</th>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">ev_charging_level</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all, 1, 2, dc_fast, legacy</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return only electric charging stations that provide the given level of electric vehicle supply equipment (EVSE).</p>
    <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
          <td>Include all charging levels</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Level 1 EVSE (standard 110V outlet)</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Level 2 EVSE (J1772 connector)</td>
        </tr>
        <tr>
          <th scope="row">dc_fast</th>
          <td>DC Fast Charging</td>
        </tr>
        <tr>
          <th scope="row">legacy</th>
          <td>Legacy charging systems (such as inductive paddles)</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">ev_connector_type</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <em>all</em>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>all, NEMA515, NEMA520, NEMA1450, J1772, CHADEMO, J1772COMBO, TESLA</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Return only electric charging stations that provide the given connector types.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="doc-parameter-options">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">all</th>
          <td>Include all electric connector types</td>
        </tr>
        <tr>
          <th scope="row">NEMA515</th>
          <td>NEMA 5-15 (Level 1)</td>
        </tr>
        <tr>
          <th scope="row">NEMA520</th>
          <td>NEMA 5-20 (Level 1)</td>
        </tr>
        <tr>
          <th scope="row">NEMA1450</th>
          <td>NEMA 14-50 (Level 1)</td>
        </tr>
        <tr>
          <th scope="row">J1772</th>
          <td>J1772 (Level 2)</td>
        </tr>
        <tr>
          <th scope="row">CHADEMO</th>
          <td>CHAdeMO (DC fast charging)</td>
        </tr>
        <tr>
          <th scope="row">J1772COMBO</th>
          <td>SAE J1772 Combo (DC fast charging)</td>
        </tr>
        <tr>
          <th scope="row">TESLA</th>
          <td>Tesla (DC fast charging)</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">state</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> None
    </div>
  </td>
  <td class="doc-parameter-description">Return only stations within the given state. State must be given as a two character state code (eg, "CO" for Colorado). A single state, or a comma-separate list of multiple states, may be given.</td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">zip</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> None
    </div>
  </td>
  <td class="doc-parameter-description">Return only stations within the given ZIP code. ZIP codes must be exactly 5 digits long. A single ZIP code, or a comma-separate list of multiple ZIP codes, may be given.</td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">limit</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> integer
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> None
    </div>
    <div class="doc-parameter-value-field">
      <strong>Minimum:</strong> <i>1</i>
    </div>
  </td>
  <td class="doc-parameter-description">The maximum number of results to return.<% if(current_page.url =~ %r{/all/$}) %> Note: Since results are returned in no specific order, this has limited use, other than for testing purposes.<% end %></td>
</tr>
