<tr>
  <th class="doc-parameter-name" scope="row">format</th>
  <td class="doc-parameter-required">Yes</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> None
    </div>
    <div class="doc-parameter-value-field">
      <strong>Options:</strong> <em>json</em>, <em>xml</em>, <em>csv</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>The output response format. Given in the URL as the file extension.</p>
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">api_key</th>
  <td class="doc-parameter-required">Yes</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> None
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>Your developer API key. See <a href="/docs/api-key/">API key usage</a> for more information.</p>
  </td>
</tr>
