<tr>
  <th class="doc-parameter-name" scope="row">total_results</th>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> integer
    </div>
  </td>
  <td class="doc-parameter-description">
    How many total fuel station records match your requested query (regardless of any <code>limit</code> applied).
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">station_counts</th>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> record
    </div>
  </td>
  <td class="doc-parameter-description">
    A record that details the total number of stations and charging outlets that match your requested query (regardless of any <code>limit</code> applied). See <a href="#station-count-record-fields">station count record fields</a> for response details.
  </td>
</tr>
<tr>
  <th class="doc-parameter-name" scope="row">station_locator_url</th>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> string
    </div>
  </td>
  <td class="doc-parameter-description">
    The URL of the Alternative Fueling Station Locator, the web application that supplies this data.
  </td>
</tr>
