### Station Count Record Fields

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">total</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
      </td>
      <td class="doc-parameter-description">The total number of stations for all fuel types that matched your query. Individual stations count multiple times if the station offers more than one fuel type. For electric, the count includes charging outlets.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">fuels</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> record
        </div>
      </td>
      <td class="doc-parameter-description">The number of stations for individual fuel types that mached your query. This object's structure provides a <code>total</code> field under each fuel key. For electric, the count includes charging outlets. For electric, there is a further <code>stations.total</code> field that returns the number of fuel station records matched, not counting charging outlets.</td>
    </tr>
  </tbody>
</table>
