---
title: Get Station by ID
summary: Fetch the details of a specific alternative fuel station given the station's
  ID.
url: GET /api/alt-fuel-stations/v1/:id

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %> This dataset powers the <a href="https://afdc.energy.gov/stations/">Alternative Fueling Station Locator</a> on the Alternative Fuels Data Center.

<ul id="toc"></ul>

## Request URL

<pre>GET /api/alt-fuel-stations/v1/:id<em>.format?parameters</em></pre>

## Request Parameters

The following query parameters may be passed in the request to control the output:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">format</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <em>json</em>, <em>xml</em>, <em>csv</em>, <em>geojson</em>, <em>kml</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The output response format. Given in the URL as the file extension.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">api_key</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Your developer API key. See <a href="/docs/api-key/">API key usage</a> for more information.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">id</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The unique ID of the station to find.</p>
      </td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of the fuel station matching the requested query. The station has the following attributes:

<%= partial("docs/transportation/alt-fuel-stations-v1/record_fields") %>

## Examples

### JSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/1517.json?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/1517.json?api_key=DEMO_KEY</a></pre>

```json
{
  "alt_fuel_station": {
    "access_code": "private",
    "access_days_time": "Fleet use only",
    "access_detail_code": null,
    "cards_accepted": null,
    "date_last_confirmed": "2021-07-14",
    "expected_date": null,
    "fuel_type_code": "ELEC",
    "groups_with_access_code": "Private",
    "id": 1517,
    "open_date": "1999-10-15",
    "owner_type_code": "LG",
    "status_code": "E",
    "restricted_access": null,
    "station_name": "LADWP - Truesdale Center",
    "station_phone": null,
    "updated_at": "2022-02-10T19:42:29Z",
    "facility_type": "UTILITY",
    "geocode_status": "GPS",
    "latitude": 34.2483191527193,
    "longitude": -118.3879713743439,
    "city": "Sun Valley",
    "intersection_directions": null,
    "plus4": null,
    "state": "CA",
    "street_address": "11797 Truesdale St",
    "zip": "91352",
    "country": "US",
    "bd_blends": null,
    "cng_dispenser_num": null,
    "cng_fill_type_code": null,
    "cng_psi": null,
    "cng_renewable_source": null,
    "cng_total_compression": null,
    "cng_total_storage": null,
    "cng_vehicle_class": null,
    "e85_blender_pump": null,
    "e85_other_ethanol_blends": null,
    "ev_connector_types": [
      "CHADEMO",
      "J1772",
      "J1772COMBO"
    ],
    "ev_dc_fast_num": 3,
    "ev_level1_evse_num": null,
    "ev_level2_evse_num": 39,
    "ev_network": "Non-Networked",
    "ev_network_web": null,
    "ev_other_evse": null,
    "ev_pricing": null,
    "ev_renewable_source": null,
    "hy_is_retail": null,
    "hy_pressures": null,
    "hy_standards": null,
    "hy_status_link": null,
    "lng_renewable_source": null,
    "lng_vehicle_class": null,
    "lpg_primary": null,
    "lpg_nozzle_types": null,
    "ng_fill_type_code": null,
    "ng_psi": null,
    "ng_vehicle_class": null,
    "rd_blends_en": null,
    "rd_blends_fr": null,
    "rd_blended_with_biodiesel": null,
    "access_days_time_fr": null,
    "intersection_directions_fr": null,
    "bd_blends_fr": null,
    "groups_with_access_code_fr": "Privé",
    "ev_pricing_fr": null
  }
}
```

### GeoJSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/1517.geojson?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/1517.geojson?api_key=DEMO_KEY</a></pre>

```json
{
  "type": "Feature",
  "geometry": {
    "type": "Point",
    "coordinates": [
      -118.3879713743439,
      34.2483191527193
    ]
  },
  "properties": {
    "access_code": "private",
    "access_days_time": "Fleet use only",
    "access_detail_code": null,
    "cards_accepted": null,
    "date_last_confirmed": "2021-07-14",
    "expected_date": null,
    "fuel_type_code": "ELEC",
    "groups_with_access_code": "Private",
    "id": 1517,
    "open_date": "1999-10-15",
    "owner_type_code": "LG",
    "status_code": "E",
    "restricted_access": null,
    "station_name": "LADWP - Truesdale Center",
    "station_phone": null,
    "updated_at": "2022-02-10T19:42:29Z",
    "facility_type": "UTILITY",
    "geocode_status": "GPS",
    "city": "Sun Valley",
    "intersection_directions": null,
    "plus4": null,
    "state": "CA",
    "street_address": "11797 Truesdale St",
    "zip": "91352",
    "country": "US",
    "bd_blends": null,
    "cng_dispenser_num": null,
    "cng_fill_type_code": null,
    "cng_psi": null,
    "cng_renewable_source": null,
    "cng_total_compression": null,
    "cng_total_storage": null,
    "cng_vehicle_class": null,
    "e85_blender_pump": null,
    "e85_other_ethanol_blends": null,
    "ev_connector_types": [
      "CHADEMO",
      "J1772",
      "J1772COMBO"
    ],
    "ev_dc_fast_num": 3,
    "ev_level1_evse_num": null,
    "ev_level2_evse_num": 39,
    "ev_network": "Non-Networked",
    "ev_network_web": null,
    "ev_other_evse": null,
    "ev_pricing": null,
    "ev_renewable_source": null,
    "hy_is_retail": null,
    "hy_pressures": null,
    "hy_standards": null,
    "hy_status_link": null,
    "lng_renewable_source": null,
    "lng_vehicle_class": null,
    "lpg_primary": null,
    "lpg_nozzle_types": null,
    "ng_fill_type_code": null,
    "ng_psi": null,
    "ng_vehicle_class": null,
    "rd_blends_en": null,
    "rd_blends_fr": null,
    "rd_blended_with_biodiesel": null,
    "access_days_time_fr": null,
    "intersection_directions_fr": null,
    "bd_blends_fr": null,
    "groups_with_access_code_fr": "Privé",
    "ev_pricing_fr": null
  }
}
```

### XML Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/1517.xml?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/1517.xml?api_key=DEMO_KEY</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<alt-fuel-station>
  <access-code>private</access-code>
  <access-days-time>Fleet use only</access-days-time>
  <access-detail-code nil="true"/>
  <cards-accepted nil="true"/>
  <date-last-confirmed>2021-07-14</date-last-confirmed>
  <expected-date nil="true"/>
  <fuel-type-code>ELEC</fuel-type-code>
  <groups-with-access-code>Private</groups-with-access-code>
  <id>1517</id>
  <open-date>1999-10-15</open-date>
  <owner-type-code>LG</owner-type-code>
  <status-code>E</status-code>
  <restricted-access nil="true"/>
  <station-name>LADWP - Truesdale Center</station-name>
  <station-phone nil="true"/>
  <updated-at>2022-02-10T19:42:29Z</updated-at>
  <facility-type>UTILITY</facility-type>
  <geocode-status>GPS</geocode-status>
  <latitude>34.2483191527193</latitude>
  <longitude>-118.3879713743439</longitude>
  <city>Sun Valley</city>
  <intersection-directions nil="true"/>
  <plus4 nil="true"/>
  <state>CA</state>
  <street-address>11797 Truesdale St</street-address>
  <zip>91352</zip>
  <country>US</country>
  <bd-blends nil="true"/>
  <cng-dispenser-num nil="true"/>
  <cng-fill-type-code nil="true"/>
  <cng-psi nil="true"/>
  <cng-renewable-source nil="true"/>
  <cng-total-compression nil="true"/>
  <cng-total-storage nil="true"/>
  <cng-vehicle-class nil="true"/>
  <e85-blender-pump nil="true"/>
  <e85-other-ethanol-blends nil="true"/>
  <ev-connector-types>
    <ev-connector-type>CHADEMO</ev-connector-type>
    <ev-connector-type>J1772</ev-connector-type>
    <ev-connector-type>J1772COMBO</ev-connector-type>
  </ev-connector-types>
  <ev-dc-fast-num>3</ev-dc-fast-num>
  <ev-level1-evse-num nil="true"/>
  <ev-level2-evse-num>39</ev-level2-evse-num>
  <ev-network>Non-Networked</ev-network>
  <ev-network-web nil="true"/>
  <ev-other-evse nil="true"/>
  <ev-pricing nil="true"/>
  <ev-renewable-source nil="true"/>
  <hy-is-retail nil="true"/>
  <hy-pressures nil="true"/>
  <hy-standards nil="true"/>
  <hy-status-link nil="true"/>
  <lng-renewable-source nil="true"/>
  <lng-vehicle-class nil="true"/>
  <lpg-primary nil="true"/>
  <lpg-nozzle-types nil="true"/>
  <ng-fill-type-code nil="true"/>
  <ng-psi nil="true"/>
  <ng-vehicle-class nil="true"/>
  <rd-blends-en nil="true"/>
  <rd-blends-fr nil="true"/>
  <rd-blended-with-biodiesel nil="true"/>
  <access-days-time-fr nil="true"/>
  <intersection-directions-fr nil="true"/>
  <bd-blends-fr nil="true"/>
  <groups-with-access-code-fr>Privé</groups-with-access-code-fr>
  <ev-pricing-fr nil="true"/>
</alt-fuel-station>
```

### KML Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/39534.kml?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/39534.kml?api_key=DEMO_KEY</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
  <Document>
    <Placemark>
      <name>LADWP - Truesdale Center</name>
      <address>11797 Truesdale St</address>
      <phoneNumber nil="true"/>
      <Point>
        <coordinates>-118.3879713743439,34.2483191527193</coordinates>
      </Point>
      <ExtendedData>
        <Data name="access_code">
          <Value>private</Value>
        </Data>
        <Data name="access_days_time">
          <Value>Fleet use only</Value>
        </Data>
        <Data name="date_last_confirmed">
          <Value>2021-07-14</Value>
        </Data>
        <Data name="fuel_type_code">
          <Value>ELEC</Value>
        </Data>
        <Data name="groups_with_access_code">
          <Value>Private</Value>
        </Data>
        <Data name="id">
          <Value>1517</Value>
        </Data>
        <Data name="open_date">
          <Value>1999-10-15</Value>
        </Data>
        <Data name="owner_type_code">
          <Value>LG</Value>
        </Data>
        <Data name="status_code">
          <Value>E</Value>
        </Data>
        <Data name="updated_at">
          <Value>2022-02-10 19:42:29 UTC</Value>
        </Data>
        <Data name="facility_type">
          <Value>UTILITY</Value>
        </Data>
        <Data name="geocode_status">
          <Value>GPS</Value>
        </Data>
        <Data name="city">
          <Value>Sun Valley</Value>
        </Data>
        <Data name="state">
          <Value>CA</Value>
        </Data>
        <Data name="zip">
          <Value>91352</Value>
        </Data>
        <Data name="country">
          <Value>US</Value>
        </Data>
        <Data name="ev_connector_types">
          <Value>["CHADEMO", "J1772", "J1772COMBO"]</Value>
        </Data>
        <Data name="ev_dc_fast_num">
          <Value>3</Value>
        </Data>
        <Data name="ev_level2_evse_num">
          <Value>39</Value>
        </Data>
        <Data name="ev_network">
          <Value>Non-Networked</Value>
        </Data>
        <Data name="groups_with_access_code_fr">
          <Value>Privé</Value>
        </Data>
      </ExtendedData>
    </Placemark>
  </Document>
</kml>
```

### CSV Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/39534.csv?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/39534.csv?api_key=DEMO_KEY</a></pre>

```
Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,Expected Date,Groups With Access Code,Access Days Time,Cards Accepted,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types,Country,Intersection Directions (French),Access Days Time (French),BD Blends (French),Groups With Access Code (French),Hydrogen Is Retail,Access Code,Access Detail Code,Federal Agency Code,Facility Type,CNG Dispenser Num,CNG On-Site Renewable Source,CNG Total Compression Capacity,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel
ELEC,LADWP - Truesdale Center,11797 Truesdale St,,Sun Valley,CA,91352,,,E,,Private,Fleet use only,,,,,,39,3,,Non-Networked,,GPS,34.2483191527193,-118.3879713743439,2021-07-14,1517,2022-02-10 19:42:29 UTC,LG,,,1999-10-15,,,,,CHADEMO J1772 J1772COMBO,US,,,,Privé,,private,,,UTILITY,,,,,,,,,,,,,,,,,,,,
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">404</th>
      <td class="doc-parameter-description">Not Found - A station for the given ID could not be found.</td>
    </tr>
  </tbody>
</table>
