---
title: Get Station by ID
summary: Fetch the details of a specific alternative fuel station given the station's
  ID.
url: GET /api/alt-fuel-stations/v1/:id

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %>

<ul id="toc"></ul>

## Request URL

<pre>GET /api/alt-fuel-stations/v1/:id<em>.format?parameters</em></pre>

## Request Parameters

The following query parameters may be passed in the request to control the output:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">format</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <em>json</em>, <em>xml</em>, <em>csv</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The output response format. Given in the URL as the file extension.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">api_key</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Your developer API key. See <a href="/docs/api-key/">API key usage</a> for more information.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">id</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The unique ID of the station to find.</p>
      </td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of the fuel station matching the requested query. The station has the following attributes:

<%= partial("docs/transportation/alt-fuel-stations-v1/record_fields") %>

## Examples

### JSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/39534.json?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/39534.json?api_key=DEMO_KEY</a></pre>

```json
{
  "alt_fuel_station": {
    "access_code": "private",
    "access_days_time": null,
    "access_detail_code": null,
    "cards_accepted": null,
    "date_last_confirmed": "2018-05-03",
    "expected_date": null,
    "fuel_type_code": "ELEC",
    "groups_with_access_code": "Private",
    "id": 39534,
    "open_date": "2011-05-20",
    "owner_type_code": "FG",
    "status_code": "E",
    "station_name": "National Renewable Energy Laboratory - Denver West",
    "station_phone": null,
    "updated_at": "2019-04-25T22:43:40Z",
    "facility_type": "FED_GOV",
    "geocode_status": "200-9",
    "latitude": 39.740236,
    "longitude": -105.181918,
    "city": "Golden",
    "intersection_directions": "Parking garage on South Table Mountain Campus",
    "plus4": null,
    "state": "CO",
    "street_address": "15013 Denver W Pkwy",
    "zip": "80401",
    "country": "US",
    "bd_blends": null,
    "cng_dispenser_num": null,
    "cng_fill_type_code": null,
    "cng_psi": null,
    "cng_renewable_source": null,
    "cng_total_compression": null,
    "cng_total_storage": null,
    "cng_vehicle_class": null,
    "e85_blender_pump": null,
    "e85_other_ethanol_blends": null,
    "ev_connector_types": [
      "J1772"
    ],
    "ev_dc_fast_num": null,
    "ev_level1_evse_num": null,
    "ev_level2_evse_num": 36,
    "ev_network": null,
    "ev_network_web": null,
    "ev_other_evse": null,
    "ev_pricing": null,
    "hy_is_retail": null,
    "hy_pressures": null,
    "hy_standards": null,
    "hy_status_link": null,
    "lng_renewable_source": null,
    "lng_vehicle_class": null,
    "lpg_primary": null,
    "lpg_nozzle_types": null,
    "ng_fill_type_code": null,
    "ng_psi": null,
    "ng_vehicle_class": null,
    "access_days_time_fr": null,
    "intersection_directions_fr": null,
    "bd_blends_fr": null,
    "groups_with_access_code_fr": "Privé",
    "ev_pricing_fr": null,
    "federal_agency": {
      "id": 8,
      "code": "DOE",
      "name": "U.S. Department of Energy"
    }
  }
}
```

### XML Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/39534.xml?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/39534.xml?api_key=DEMO_KEY</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<alt-fuel-station>
    <access-code>private</access-code>
    <access-days-time nil="true"/>
    <access-detail-code nil="true"/>
    <cards-accepted nil="true"/>
    <date-last-confirmed>2018-05-03</date-last-confirmed>
    <expected-date nil="true"/>
    <fuel-type-code>ELEC</fuel-type-code>
    <groups-with-access-code>Private</groups-with-access-code>
    <id>39534</id>
    <open-date>2011-05-20</open-date>
    <owner-type-code>FG</owner-type-code>
    <status-code>E</status-code>
    <station-name>National Renewable Energy Laboratory - Denver West</station-name>
    <station-phone nil="true"/>
    <updated-at>2019-04-25T22:43:40Z</updated-at>
    <facility-type>FED_GOV</facility-type>
    <geocode-status>200-9</geocode-status>
    <latitude>39.740236</latitude>
    <longitude>-105.181918</longitude>
    <city>Golden</city>
    <intersection-directions>Parking garage on South Table Mountain Campus</intersection-directions>
    <plus4 nil="true"/>
    <state>CO</state>
    <street-address>15013 Denver W Pkwy</street-address>
    <zip>80401</zip>
    <country>US</country>
    <bd-blends nil="true"/>
    <cng-dispenser-num nil="true"/>
    <cng-fill-type-code nil="true"/>
    <cng-psi nil="true"/>
    <cng-renewable-source nil="true"/>
    <cng-total-compression nil="true"/>
    <cng-total-storage nil="true"/>
    <cng-vehicle-class nil="true"/>
    <e85-blender-pump nil="true"/>
    <e85-other-ethanol-blends nil="true"/>
    <ev-connector-types>
        <ev-connector-type>J1772</ev-connector-type>
    </ev-connector-types>
    <ev-dc-fast-num nil="true"/>
    <ev-level1-evse-num nil="true"/>
    <ev-level2-evse-num>36</ev-level2-evse-num>
    <ev-network nil="true"/>
    <ev-network-web nil="true"/>
    <ev-other-evse nil="true"/>
    <ev-pricing nil="true"/>
    <hy-is-retail nil="true"/>
    <hy-pressures nil="true"/>
    <hy-standards nil="true"/>
    <hy-status-link nil="true"/>
    <lng-renewable-source nil="true"/>
    <lng-vehicle-class nil="true"/>
    <lpg-primary nil="true"/>
    <lpg-nozzle-types nil="true"/>
    <ng-fill-type-code nil="true"/>
    <ng-psi nil="true"/>
    <ng-vehicle-class nil="true"/>
    <access-days-time-fr nil="true"/>
    <intersection-directions-fr nil="true"/>
    <bd-blends-fr nil="true"/>
    <groups-with-access-code-fr>Privé</groups-with-access-code-fr>
    <ev-pricing-fr nil="true"/>
    <federal-agency>
        <id>8</id>
        <code>DOE</code>
        <name>U.S. Department of Energy</name>
    </federal-agency>
</alt-fuel-station>
```

### CSV Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/39534.csv?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/39534.csv?api_key=DEMO_KEY</a></pre>

```
Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,Expected Date,Groups With Access Code,Access Days Time,Cards Accepted,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types,Country,Intersection Directions (French),Access Days Time (French),BD Blends (French),Groups With Access Code (French),Hydrogen Is Retail,Access Code,Access Detail Code,Federal Agency Code,Facility Type,CNG Dispenser Num,CNG On-Site Renewable Source,CNG Total Compression Capacity,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class
ELEC,National Renewable Energy Laboratory - Denver West,15013 Denver W Pkwy,Parking garage on South Table Mountain Campus,Golden,CO,80401,,,E,,Private,,,,,,,36,,,,,200-9,39.740236,-105.181918,2018-05-03,39534,2019-04-25 22:43:40 UTC,FG,8,U.S. Department of Energy,2011-05-20,,,,,J1772,US,,,,Privé,,private,,DOE,FED_GOV,,,,,,,,,,,,,,,
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">404</th>
      <td class="doc-parameter-description">Not Found - A station for the given ID could not be found.</td>
    </tr>
  </tbody>
</table>
